<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <% include headPublic %>
</head>
<body style="background: #fff;">
<% include head.ejs %>
<div class="aui-border-b aui-padded-l-15 aui-padded-r-15 aui-padded-b-15" style="padding-top: 3.2rem;">
    <h2 class="aui-margin-b-5">郑州考C1驾照需要多少钱？哪个驾校收费最低？</h2>
    <p>来源：优快  发布时间：2017-03-18</p>
</div>
<div class="aui-content aui-margin-r-15 aui-margin-l-15">
    <div>
        <p></p><p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 10px; padding: 0px; text-indent: 32px; line-height: 1.6em; text-align: justify; color: rgb(90, 90, 90); font-family: &quot;Microsoft YaHei&quot;, &quot;Segoe UI&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
            <span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑;">2017年，人人拥有C证的时代，持有B证的你是不是很牛气，但是，五一之后持有B证的你可能不能直接增驾A1、A2驾驶证了。</span><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-weight: 700;"><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑; color: rgb(0, 0, 255);"><span style="box-sizing: border-box; margin: 0px; padding: 0px;">详情请咨询优快学车热线：</span>0371——58508808。</span></span>
        </p>
        <p>
            <img width="100%" src="http://files.ukxueche.com/ueditor/jsp/upload/image/20170304/1488617703083018474.png" title="1488617703083018474.png" alt="图片1.png"><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑;">&nbsp;</span>
        </p>
        <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 10px; padding: 0px; text-indent: 2em; line-height: 1.6em; text-align: justify; color: rgb(90, 90, 90); font-family: &quot;Microsoft YaHei&quot;, &quot;Segoe UI&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
            <span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑;">&nbsp;</span>
        </p>
        <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 10px; padding: 0px; text-indent: 2em; line-height: 1.6em; text-align: justify; color: rgb(90, 90, 90); font-family: &quot;Microsoft YaHei&quot;, &quot;Segoe UI&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
            <span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑;">重要通知：</span>
        </p>
        <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 10px; padding: 0px; text-indent: 2em; line-height: 1.6em; text-align: justify; color: rgb(90, 90, 90); font-family: &quot;Microsoft YaHei&quot;, &quot;Segoe UI&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
            <span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑;"><span style="box-sizing: border-box; margin: 0px; padding: 0px;">为贯彻落实《国务院办公厅转发公安部交通运输部关于推进机动车驾驶人培训考试制度改革意见的通知》有关要求，交通运输部、公安部决定：</span>“结束试点考察，自2017年五月一日起，在全国范围实施大型客车、牵引车驾驶人职业教育”。</span>
        </p>
        <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 10px; padding: 0px; text-indent: 2em; line-height: 1.6em; text-align: justify; color: rgb(90, 90, 90); font-family: &quot;Microsoft YaHei&quot;, &quot;Segoe UI&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
            <span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑;"><span style="box-sizing: border-box; margin: 0px; padding: 0px;">年满</span>18周岁，高中以上文化程度，经过三年全日制汽车驾驶专业职业教育，考核合格后才能获取大型车辆的驾驶资格。</span>
        </p>
        <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 10px; padding: 0px; text-indent: 2em; line-height: 1.6em; text-align: justify; color: rgb(90, 90, 90); font-family: &quot;Microsoft YaHei&quot;, &quot;Segoe UI&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
            <span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑;"><span style="box-sizing: border-box; margin: 0px; padding: 0px;">《通知》内容如果是真的，即意味着自五一起，</span>A1、A2驾驶证，以后不能直接增驾了，必须要经过3三年时间的职业教育才能拿到证。</span>
        </p>
        <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 10px; padding: 0px; text-indent: 2em; line-height: 1.6em; text-align: justify; color: rgb(90, 90, 90); font-family: &quot;Microsoft YaHei&quot;, &quot;Segoe UI&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
            <span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑;">&nbsp;</span>
        </p>
        <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 10px; padding: 0px; text-indent: 2em; line-height: 1.6em; text-align: justify; color: rgb(90, 90, 90); font-family: &quot;Microsoft YaHei&quot;, &quot;Segoe UI&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
            <span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑;"><span style="box-sizing: border-box; margin: 0px; padding: 0px;">现在</span>A1、A2驾驶证增驾条件：</span>
        </p>
        <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 10px; padding: 0px; text-indent: 2em; line-height: 24px; text-align: justify; color: rgb(90, 90, 90); font-family: &quot;Microsoft YaHei&quot;, &quot;Segoe UI&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
            <span style="box-sizing: border-box; margin: 0px; padding: 0px; font-weight: 700;"><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑; line-height: 24px; color: rgb(255, 0, 0);"><span style="box-sizing: border-box; margin: 0px; padding: 0px;">增驾</span>A1（大型客车）</span></span><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑; line-height: 24px;"><span style="box-sizing: border-box; margin: 0px; padding: 0px;">需持有年满</span>5年驾龄的A3/B1/B2证，或年满2年驾龄的A2证。</span>
        </p>
        <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 10px; padding: 0px; text-indent: 2em; line-height: 24px; text-align: justify; color: rgb(90, 90, 90); font-family: &quot;Microsoft YaHei&quot;, &quot;Segoe UI&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
            <span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑; line-height: 24px;"><span style="box-sizing: border-box; margin: 0px; padding: 0px;">要求：需要年满</span>26——50周岁，身高为155cm以上，郑州市驾驶证，近5年内没有扣过12分，没有出过重大交通事故，省份证、驾驶证住址信息必须一致。</span>
        </p>
        <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 10px; padding: 0px; text-indent: 2em; line-height: 24px; text-align: justify; color: rgb(90, 90, 90); font-family: &quot;Microsoft YaHei&quot;, &quot;Segoe UI&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
            <span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑; line-height: 24px;">&nbsp;</span>
        </p>
        <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 10px; padding: 0px; text-indent: 2em; line-height: 24px; text-align: justify; color: rgb(90, 90, 90); font-family: &quot;Microsoft YaHei&quot;, &quot;Segoe UI&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
            <span style="box-sizing: border-box; margin: 0px; padding: 0px; font-weight: 700;"><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑; line-height: 24px; color: rgb(255, 0, 0); letter-spacing: 0px; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="box-sizing: border-box; margin: 0px; padding: 0px;">增驾</span></span></span><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-weight: 700;"><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑; line-height: 24px; color: rgb(255, 0, 0); letter-spacing: 0px; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">A2</span></span><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-weight: 700;"><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑; line-height: 24px; color: rgb(255, 0, 0); letter-spacing: 0px; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="box-sizing: border-box; margin: 0px; padding: 0px;">（</span></span></span><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-weight: 700;"><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑; line-height: 24px; color: rgb(255, 0, 0); letter-spacing: 0px; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="box-sizing: border-box; margin: 0px; padding: 0px;">牵引车</span></span></span><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-weight: 700;"><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑; line-height: 24px; color: rgb(255, 0, 0); letter-spacing: 0px; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="box-sizing: border-box; margin: 0px; padding: 0px;">型）</span></span></span><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑; line-height: 24px; letter-spacing: 0px; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">&nbsp;<span style="box-sizing: border-box; margin: 0px; padding: 0px;">需持有</span></span><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑; line-height: 24px; letter-spacing: 0px; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">B1</span><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑; line-height: 24px; letter-spacing: 0px; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="box-sizing: border-box; margin: 0px; padding: 0px;">、</span></span><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑; line-height: 24px; letter-spacing: 0px; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">B2</span><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑; line-height: 24px; letter-spacing: 0px; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="box-sizing: border-box; margin: 0px; padding: 0px;">证</span></span><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑; line-height: 24px; letter-spacing: 0px; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="box-sizing: border-box; margin: 0px; padding: 0px;">三年以上</span></span><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑; line-height: 24px;">可增驾。</span>
        </p>
        <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 10px; padding: 0px; text-indent: 2em; line-height: 1.6em; text-align: justify; color: rgb(90, 90, 90); font-family: &quot;Microsoft YaHei&quot;, &quot;Segoe UI&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
            <span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑;">要求：</span><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑; letter-spacing: 0px; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="box-sizing: border-box; margin: 0px; padding: 0px;">增驾</span>A2需要年满24</span><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑;">——50</span><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑; letter-spacing: 0px; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="box-sizing: border-box; margin: 0px; padding: 0px;">周岁</span></span><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑;">，</span><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑;"><span style="box-sizing: border-box; margin: 0px; padding: 0px;">身高为</span>155cm以上，</span><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑; letter-spacing: 0px; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span style="box-sizing: border-box; margin: 0px; padding: 0px;">申请前最近连续两个记分周期内没有满分记录；或取得驾驶大型客车准驾车型资格一年以上，并在申请前最近一个记分周期内没有满分记录。</span></span>
        </p>
        <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 10px; padding: 0px; text-indent: 2em; line-height: 1.6em; text-align: justify; color: rgb(90, 90, 90); font-family: &quot;Microsoft YaHei&quot;, &quot;Segoe UI&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
            <span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑;">&nbsp;</span>
        </p>
        <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 10px; padding: 0px; text-indent: 2em; line-height: 1.6em; text-align: justify; color: rgb(90, 90, 90); font-family: &quot;Microsoft YaHei&quot;, &quot;Segoe UI&quot;; white-space: normal; background-color: rgb(255, 255, 255);">
            <span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑;"><span style="box-sizing: border-box; margin: 0px; padding: 0px;">现在增驾</span>A1、A2驾驶证，只要符合以上条件就能在郑州报名考试，郑州汇通大中型客货车培训考试基地，常年对外招生，随到随学，收费合理，中间绝无任何隐形收费，学员在考场练车，考场考试，考试通过率高，正常情况下2到3个月就能拿到驾照。</span>
        </p>
        <p style="box-sizing: border-box; margin-top: 15px; margin-bottom: 15px; padding: 0px; text-indent: 28px; line-height: 28px; text-align: justify; color: rgb(90, 90, 90); font-family: &quot;Microsoft YaHei&quot;, &quot;Segoe UI&quot;; white-space: normal; background: rgb(255, 255, 255);">
            <span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑;"><span style="box-sizing: border-box; margin: 0px; padding: 0px;">而如果以上通知消息属实，以后想拿到</span>A1、A2驾驶证，必须需要三年的时间，时间延长，相对应的费用肯定大大增多。所以，优快学车提醒有增驾A1、A2驾驶证需求的朋友，尽早报名，尽早拿证！</span>
        </p>
        <p style="box-sizing: border-box; margin-top: 15px; margin-bottom: 15px; padding: 0px; text-indent: 28px; line-height: 28px; text-align: justify; color: rgb(90, 90, 90); font-family: &quot;Microsoft YaHei&quot;, &quot;Segoe UI&quot;; white-space: normal; background: rgb(255, 255, 255);">
            <span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑;"><br></span>
        </p>
        <p style="box-sizing: border-box; margin-top: 15px; margin-bottom: 15px; padding: 0px; text-indent: 28px; line-height: 28px; text-align: justify; color: rgb(90, 90, 90); font-family: &quot;Microsoft YaHei&quot;, &quot;Segoe UI&quot;; white-space: normal; background: rgb(255, 255, 255);">
            <span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑;">文章关键词：<span style="box-sizing: border-box; margin: 0px; padding: 0px; font-weight: 700;">A1 A2驾驶证，以后不能直接增驾了&nbsp;</span></span><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑;"><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-weight: 700;">&nbsp;增驾A1（大型客车） &nbsp; &nbsp;增驾A2（牵引车型）</span></span>
        </p>
        <p style="box-sizing: border-box; margin-top: 15px; margin-bottom: 15px; padding: 0px; text-indent: 28px; line-height: 28px; text-align: justify; color: rgb(90, 90, 90); font-family: &quot;Microsoft YaHei&quot;, &quot;Segoe UI&quot;; white-space: normal; background: rgb(255, 255, 255);">
            <span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑;">更多驾考信息访问：</span><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-family: 微软雅黑; text-decoration-line: underline;"><a href="http://www.ukxueche.com/xcpl/" target="_blank" title="优快学车" style="box-sizing: border-box; margin: 0px; padding: 0px; background-color: transparent; color: rgb(51, 51, 51); text-decoration-line: none;"><span style="box-sizing: border-box; margin: 0px; padding: 0px; font-weight: 700;"><span style="box-sizing: border-box; margin: 0px; padding: 0px; color: rgb(0, 112, 192);">http://www.ukxueche.com/</span></span></a></span>
        </p>
    </div>
    <div class="erweima aui-text-center">
        <div>助你一考必过！欢迎扫码下方二维码下载优快学车APP！</div>
        <img src="images/include/char.png" alt="">
    </div>

    <div class="aui-ellipsis-1"><a href="###">上一篇：教练吐血整理：科四过关秘诀，不用死记硬背！</a></div>
    <div class="aui-ellipsis-1 aui-margin-t-15"><a href="###">上一篇：科目一错误率最高的8道题 据说只有5%的人才能做对！</a></div>
    <ul class="xgzx">
        <li class="aui-margin-t-15 aui-font-size-16"><strong>相关资讯</strong></li>
        <li class="aui-ellipsis-1"><a href="###"><font color="e5e5e5">• </font>郑州考驾照自主约考流程！优快学车帮助你</a></li>
        <li class="aui-ellipsis-1"><a href="###"><font color="e5e5e5">• </font>2017年郑州考驾照流程变化</a></li>
        <li class="aui-ellipsis-1"><a href="###"><font color="e5e5e5">• </font>郑州考驾照自主约考流程！</a></li>
    </ul>
</div>
<% include footPublic %>
</body>
<script type="text/javascript">
    apiready = function(){
        api.parseTapmode();
    }
    var tab = new auiTab({
        element:document.getElementById("tab"),
        // callback:function(o,dom){
        //     console.log(o);
        // }
    },function(ret){
        console.log(ret)
    });
</script>
<script>
    $(".aui-list-item-text.aui-ellipsis-2").each(function(){
        var i=$(this).text().length;
        var length=55;
        if(i>length){
            $(this).text($(this).text().substr(0,length)+"...");
        }else {
            return;
        }
    })
</script>
<script>
    laypage({
        cont: 'page',
        pages: 18, //可以叫服务端把总页数放在某一个隐藏域，再获取。假设我们获取到的是18
        curr: function(){ //通过url获取当前页，也可以同上（pages）方式获取
            var page = location.search.match(/page=(\d+)/);
            return page ? page[1] : 1;
        }(),
        jump: function(e, first){ //触发分页后的回调
            if(!first){ //一定要加此判断，否则初始时会无限刷新
                location.href = '?page='+e.curr;
            }
        }
    });
</script>
</html>
