<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <% include headPublic %>
    <link rel="stylesheet" href="/stylesheets/ukresponse.css">
</head>
<body id="xclc">
<% include head.ejs %>
<div class="aui-content">
    <div class="photo">
        <div class="even">
            <div class="aui-content-padded">
                <div class="aui-col-xs-8">
                    <div class="xclc-title">
                        <div class="h1">ONE</div>
                        <div class="h2">选择驾校班级</div>
                    </div>
                    <div class="xclc-word h3">
                        <div><img src="images/include/xclc-word-icon.png" alt=""></div>
                        <p>根据自身情况，选择适合自己的驾校和班型</p>
                    </div>
                    <div class="xclc-word h3">
                        <div><img src="images/include/xclc-word-icon.png" alt=""></div>
                        <p>点击我想报名，填写报名信息并提交订单</p>
                    </div>
                </div>
                <div class="aui-col-xs-4 aui-margin-t-15"><img src="images/include/bmlc-i1.png" alt="选择驾校和班级"></div>
            </div>
        </div>
        <div class="odd">
            <div class="aui-content-padded">
                <div class="aui-col-xs-4 aui-margin-t-15"><img src="images/include/bmlc-i2.png" alt="选择支付方式"></div>
                <div class="aui-col-xs-8">
                    <div class="xclc-title aui-text-right">
                        <div class="h1">TWO</div>
                        <div class="h2">选择支付方式</div>
                    </div>
                    <div class="xclc-word h3 aui-text-right">
                        <p>支持支付宝、微信、银联等支付方式</p><div><img src="images/include/xclc-word-icon.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="even">
            <div class="aui-content-padded">
                <div class="aui-col-xs-8">
                    <div class="xclc-title">
                        <div class="h1">THREE</div>
                        <div class="h2">支付成功</div>
                    </div>
                    <div class="xclc-word h3">
                        <div><img src="images/include/xclc-word-icon.png" alt=""></div><p>根据个人情况选择支付方式后，点击支付，支付成功</p>
                    </div>
                    <div class="xclc-word h3">
                        <div><img src="images/include/xclc-word-icon.png" alt=""></div><p>网上自动建档，等候体检通知</p>
                    </div>
                </div>
                <div class="aui-col-xs-4 aui-margin-t-15"><img src="images/include/bmlc-i3.png" alt="支付成功"></div>
            </div>
        </div>
        <div class="odd">
            <div class="aui-content-padded">
                <div class="aui-col-xs-4 aui-margin-t-15"><img src="images/include/bmlc-i4.png" alt="等待体检"></div>
                <div class="aui-col-xs-8">
                    <div class="xclc-title aui-text-right">
                        <div class="h1">FOUR</div>
                        <div class="h2">等待体检</div>
                    </div>
                    <div class="xclc-word h3 aui-text-right">
                        <p>等候体检通知，然后接受体检</p><div><img src=" images/include/xclc-word-icon.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="even">
            <div class="aui-content-padded">
                <div class="aui-col-xs-8">
                    <div class="xclc-title">
                        <div class="h1">FIVE</div>
                        <div class="h2">签订驾培合同</div>
                    </div>
                    <div class="xclc-word h3">
                        <div><img src=" images/include/xclc-word-icon.png" alt=""></div><p>体检合格后，支付余款签订驾培合同</p>
                    </div>
                    <div class="xclc-word h3">
                        <div><img src=" images/include/xclc-word-icon.png" alt=""></div><p>体检不合格，网上联系客服顾问申请退款</p>
                    </div>
                </div>
                <div class="aui-col-xs-4 aui-margin-t-15"><img src=" images/include/bmlc-i5.png" alt="签订驾培合同"></div>
            </div>
        </div>
        <div class="odd">
            <div class="aui-content-padded">
                <div class="aui-col-xs-4 aui-margin-t-15"><img src=" images/include/bmlc-i6.png" alt="报名完成"></div>
                <div class="aui-col-xs-8">
                    <div class="xclc-title aui-text-right">
                        <div class="h1">SIX</div>
                        <div class="h2">完成报名</div>
                    </div>
                    <div class="xclc-word h3 aui-text-right">
                        <p>报名过程中有任何问题可随时咨询在线客服</p><div><img src=" images/include/xclc-word-icon.png" alt=""></div>
                    </div>
                    <div class="xclc-word h3 aui-text-right">
                        <p>优快学车提供多重保障服务，为您学车保驾护航</p><div><img src=" images/include/xclc-word-icon.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include footPublic.ejs %>
</body>
</html>
