<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <% include headPublic %>
</head>
<body class="tabs1">
<header class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn " href="javascript:history.back();">
        <span class="aui-iconfont aui-icon-left"></span>
    </a>
    <div class="aui-title">
        <a href=""><%=title%></a>
    </div>
</header>
<div class="aui-content aui-text-center">
    <img src="images/include/error_img.png" alt="" style="width: 40%;margin-top: 5rem;margin-bottom: 1rem">
    <p>jgbh不能为空</p>
    <div class="aui-btn aui-btn-outlined" style="background: #fff !important;border-radius: 20px;margin-top: 0.8rem">返回</div>
</div>
<% include footPublic %>
</body>
</html>
