<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include headPublic %>
    <style>
        .overflow_text{
            overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        .weui-popup__container,.weui-popup__modal{z-index: 160;}
        .weui-popup__overlay{z-index: 150}
        .toolbar .picker-button{color: inherit;}.toolbar{background: none;}.swiper-container img{width: auto;}
        #swiper-container{margin: 0.75rem;background: #fff;display: none;}.swiper-container img{width: auto;}
        #swiper-container{height: 7rem;}
        .swiper-pagination .swiper-pagination-bullet{width: auto;height: auto;}.my-aui-active{background: #eee;color: #333 !important;}.aui-tab1 .iconfont{font-size: 1.2rem;color: #999}
        .swiper-pagination-bullet0,.swiper-pagination-bullet1{width: 0.5rem;height: 0.2rem;background: #bbb;display: inline-block;margin: 0 0.2rem;}
        .swiper-pagination-bullet0.swiper-pagination-bullet-active,.swiper-pagination-bullet1.swiper-pagination-bullet-active{background: #00a0e9;}
        #emoji_container_1 a{width: 16.6666667%;display: inline-block;text-align: center;}
    </style>
    <script src="http://www.auicss.com/aui2.0/script/aui-popup.js"></script>
</head>
<body class="conversation">
<header class="aui-bar aui-bar-nav aui-bar-light">
    <a class="aui-pull-left UKlogo" href="/">
        <img src="images/include/UKlogo.png" alt="">
    </a>
    <div class="aui-pull-right">

        <span class="aui-iconfont aui-icon-menu " aui-popup-for="top-right" tapmode=""></span>
        <a class="aui-margin-l-10" aui-popup-for="top-right1">
            <span class="aui-iconfont aui-icon-more"></span>
        </a>
    </div>
</header>
<div class="aui-content">

    <form method="post" enctype="multipart/form-data" action="http://192.168.1.116:8080/api.ukxueche/community/uk_70002">
        <input id="camera" type="file" name="camera" multiple="multiple" onchange="checkinfo(this)">     照相机
        <input type="file" name="camcorder" accept="video/*" capture="camcorder">    摄像机
        <input type="file" name="microphone" accept="audio/*" capture="microphone">    录音
        <input type="text" name="access_token" value="1553f4b731e44d15515f15c8e509b7c8">
        <input type="text" name="title" value="wgj">
        <input type="text" name="content" value="testWGJ">
        <input type="text" name="tags" value="科目一">
        <input type="submit" value="submit">
        <input type="button" value="多图上传" onclick="moreIMG()">
    </form>
    <div id="win"></div>
    <script>
        function checkinfo(obj) {
            var len = obj.files.length;
            console.log(obj.files);
            for (var i =0 ; i < len ; i++){
                showimg(obj.files[i]);
            }
        }
        function showimg(img){
            var a = new FileReader();
            a.readAsDataURL(img);
            a.onload=function(){
                var img = new Image();
                img.src=a.result;
                document.getElementById('win').appendChild(img);
            }
        }
    </script>




    <div class="swiper-container" id="swiper-container">
        <div class="swiper-wrapper" style="height: 79%;">
            <div class="swiper-slide">
                <div class="swiper-container" id="swiper-container1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img data-src="images/face/tieba/1.jpg" class="swiper-lazy">
                            <img data-src="images/face/tieba/2.jpg" class="swiper-lazy">
                            <img data-src="images/face/tieba/3.jpg" class="swiper-lazy">
                            <img data-src="images/face/tieba/4.jpg" class="swiper-lazy">
                            <img data-src="images/face/tieba/5.jpg" class="swiper-lazy">
                            <img data-src="images/face/tieba/5.jpg" class="swiper-lazy">
                            <img data-src="images/face/tieba/6.jpg" class="swiper-lazy">
                            <img data-src="images/face/tieba/7.jpg" class="swiper-lazy">
                            <img data-src="images/face/tieba/8.jpg" class="swiper-lazy">
                            <img data-src="images/face/tieba/9.jpg" class="swiper-lazy">
                            <img data-src="images/face/tieba/10.jpg" class="swiper-lazy">
                            <img data-src="images/face/tieba/11.jpg" class="swiper-lazy">
                        </div>
                        <div class="swiper-slide">
                            <img data-src="images/face/tieba/6.jpg" class="swiper-lazy">
                            <img data-src="images/face/tieba/7.jpg" class="swiper-lazy">
                            <img data-src="images/face/tieba/8.jpg" class="swiper-lazy">
                            <img data-src="images/face/tieba/9.jpg" class="swiper-lazy">
                        </div>
                        <div class="swiper-slide">
                            2.3
                        </div>
                    </div>
                    <div class="swiper-pagination1"></div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-container" id="swiper-container2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            2.1</div>
                        <div class="swiper-slide">
                            2.2</div>
                        <div class="swiper-slide">
                            2.3</div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide orange-slide">
                slider3
            </div>
        </div>
        <div class="aui-tab1 aui-tab"></div>
    </div>
    <ul class="aui-list aui-media-list commit_list">
        <li class="aui-list-item aui-margin-t-10">
            <div class="aui-media-list-item-inner">
                <a href="#" class="aui-list-item-media">
                    <img src="images/liulangnan.png" class="aui-img-round" style="width:1.5rem">
                </a>
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-header">
                        <div class="aui-card-list-title">路人甲
                            <span class="aui-label aui-label-info" style="vertical-align: middle">楼主</span>
                            <a href="#"><font class="iconfont" color="#d4237a">&#xe65b;</font></a>
                            <a href="#"><font class="iconfont" color="#1296db">&#xe633;</font></a>
                        </div>
                    </div>
                    <p>54分钟前&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;来自 郑州市</p>
                    <div class="aui-row aui-row-padded  aui-margin-t-5 gallery" style="margin-left: 0;">
                        <h4>
                            <span class="aui-label aui-label-danger" style="vertical-align: initial;">精华</span>
                            【科目三】已过，电脑显示我没考
                        </h4>
                        <div class="aui-card-list-content ">
                            <img class="lazy2 aui-margin-b-15 aui-margin-t-15" src="http://cheyouquan.image.mucang.cn/saturn-image/2017/05/31/17/dace7025d0bc473a8a25452704b0dbef.jpeg!list.3"/>
                            <div class="aui-list-item-text aui-margin-t-10">
                                明天就要考科目三了，我是特意来许愿的老天、大神、典典都保佑吧保佑我这次能顺利过关，我在这里提前先谢谢各路大神了，拜托
                            </div>
                            <img class="lazy2 aui-margin-b-15 aui-margin-t-15" src="http://cheyouquan.image.mucang.cn/saturn-image/2017/05/31/17/dace7025d0bc473a8a25452704b0dbef.jpeg!list.3"/>
                            <div class="aui-list-item-text aui-margin-t-10">
                                明天就要考科目三了，我是特意来许愿的老天、大神、典典都保佑吧保佑我这次能顺利过关，我在这里提前先谢谢各路大神了，拜托
                            </div>
                            <img class="lazy2 aui-margin-b-15 aui-margin-t-15"
                                 src="http://cheyouquan.image.mucang.cn/saturn-image/2017/05/31/17/26c04728bfac497ea38210fa732d0f99.jpeg!list.3">
                        </div>
                    </div>
                    <div class="aui-card-list-footer aui-border-b" style="padding: 0;">
                        <div class="conversation_topiclabel">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><a href="###">科目三</a></div>
                                <div class="swiper-slide"><a href="###">郑州市</a></div>
                                <div class="swiper-slide"><a href="###">啊</a></div>
                                <div class="swiper-slide"><a href="###">科三经验分享</a></div>
                                <div class="swiper-slide"><a href="###">郑州市</a></div>
                                <div class="swiper-slide"><a href="###">播种驾校</a></div>
                            </div>
                        </div>
                        <div style="width: 100%;">
                            <a href="###"><span class="iconfont aui-margin-l-10">&#xe695; </span></a>
                            <a href="###"><span class="iconfont aui-margin-l-10">&#xe696; 123</span></a>
                        </div>
                    </div>


                    <div class="aui-list-item-inner" style="padding-right: 0">
                        <!--跳转点赞列表-->
                        <a href="##">
                            <div class="aui-list-item-title aui-list-item-arrow">
                                <p>
                                    <font class="iconfont">&#xe695;</font>
                                    <span>147</span>人赞了这个话题
                                </p>
                            </div>
                        </a>

                        <div class="aui-row overflow_text" id="point_list">
                            <a href=""><img src="images/liulangnan.png" class="aui-img-round"></a>
                            <a href=""><img src="images/liulangnan.png" class="aui-img-round"></a>
                            <a href=""><img src="images/liulangnan.png" class="aui-img-round"></a>
                            <a href=""><img src="images/liulangnan.png" class="aui-img-round"></a>
                            <a href=""><img src="images/liulangnan.png" class="aui-img-round"></a>
                            <a href=""><img src="images/liulangnan.png" class="aui-img-round"></a>
                            <a href=""><img src="images/liulangnan.png" class="aui-img-round"></a>
                            <a href=""><img src="images/liulangnan.png" class="aui-img-round"></a>
                            <a href=""><img src="images/liulangnan.png" class="aui-img-round"></a>
                            <a href=""><img src="images/liulangnan.png" class="aui-img-round"></a>
                            <a href=""><img src="images/liulangnan.png" class="aui-img-round"></a>
                            <a href=""><img src="images/liulangnan.png" class="aui-img-round"></a>
                            <a href=""><img src="images/liulangnan.png" class="aui-img-round"></a>
                            <a href=""><img src="images/liulangnan.png" class="aui-img-round"></a>
                            <a href=""><img src="images/liulangnan.png" class="aui-img-round"></a>
                            <a href=""><img src="images/liulangnan.png" class="aui-img-round"></a>
                            <a href=""><img src="images/liulangnan.png" class="aui-img-round"></a>
                            <a href=""><img src="images/liulangnan.png" class="aui-img-round"></a>
                            <a href=""><img src="images/liulangnan.png" class="aui-img-round"></a>
                            <a href=""><img src="images/liulangnan.png" class="aui-img-round"></a>
                            <a href=""><img src="images/liulangnan.png" class="aui-img-round"></a>
                            <a href=""><img src="images/liulangnan.png" class="aui-img-round"></a>
                            <a href=""><img src="images/liulangnan.png" class="aui-img-round"></a>
                            <a href=""><img src="images/liulangnan.png" class="aui-img-round"></a>
                            <a href=""><img src="images/liulangnan.png" class="aui-img-round"></a>
                            <a href=""><img src="images/liulangnan.png" class="aui-img-round"></a>
                            <a href=""><img src="images/liulangnan.png" class="aui-img-round"></a>
                            <a href=""><img src="images/liulangnan.png" class="aui-img-round"></a>
                            <a href=""><img src="images/liulangnan.png" class="aui-img-round"></a>
                            <a href=""><img src="images/liulangnan.png" class="aui-img-round"></a>
                            <a href=""><img src="images/liulangnan.png" class="aui-img-round"></a>
                            <a href=""><img src="images/liulangnan.png" class="aui-img-round"></a>
                        </div>
                    </div>
                </div>

            </div>

        </li>
    </ul>
    <div class="aui-content aui-margin-b-15">
        <ul class="aui-list aui-media-list">
            <li id="allreply" class="aui-list-header">
                全部回复
            </li>
            <li class="aui-list-item">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media">
                        <a href="###"><img src="images/liulangnan.png" class="aui-img-round" style="width:1.5rem"></a>
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">这是我的ID</div>
                            <div class="aui-list-item-right">沙发</div>
                        </div>
                        <p>2015-07-14 10:31</p>
                        <div class="aui-list-item-text">
                            我怎么看有的人买的280的豪华版的轮毂是五幅轮毂样式的啊~
                        </div>
                        <div class="aui-info aui-margin-t-5" style="padding:0">
                            <div class="aui-info-item"></div>
                            <div class="aui-info-item">
                                <span class="iconfont">&#xe695; 1</span>
                                <span class="iconfont aui-margin-l-10">&#xe696; 1</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media">
                        <a href="###"><img src="images/comit1.jpg" class="aui-img-round" style="width:1.5rem"></a>
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">尽人事听天命</div>
                            <div class="aui-list-item-right">2楼</div>
                        </div>
                        <p>2015-07-14 10:31</p>
                        <div class="aui-list-item-text">
                            我怎么看有的人买的280的豪华版的轮毂是五幅轮毂样式的啊~我怎么看有的人买的280的豪华版的轮毂是五幅轮毂样式的啊我怎么看有的人买的280的豪华版的轮毂是五幅轮毂样式的啊
                        </div>
                        <div class="aui-info aui-margin-t-5" style="padding:0">
                            <div class="aui-info-item"></div>
                            <div class="aui-info-item">
                                <span class="iconfont">&#xe695; 11515115</span>
                                <span class="iconfont aui-margin-l-10">&#xe696; 151</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="weui-loadmore">
        <i class="weui-loading"></i>
        <span class="weui-loadmore__tips">正在加载</span>
    </div>
    <div class="weui-loadmore weui-loadmore_line">
        <span class="weui-loadmore__tips">话题还没有回复哦~<br>快来抢沙发！</span>
    </div>
</div>
<div class="aui-popup aui-popup-top-right" id="top-right" style="right: 1.85rem;">
    <div class="aui-popup-arrow"></div>
    <div class="aui-popup-content">
        <ul class="aui-list aui-list-noborder">
            <a href="/" class="aui-list-item">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont iconfont aui-text-info">&#xe618;</i>
                </div>
                <div class="aui-list-item-inner aui-list-item-middle">
                    首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页
                </div>
            </a>
            <a href="/jxjg" class="aui-list-item">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont iconfont aui-text-info">&#xe66c;</i>
                </div>
                <div class="aui-list-item-inner">
                    郑州驾校
                </div>
            </a>
            <a href="/zxhd" class="aui-list-item">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont iconfont aui-text-info">&#xe7a0;</i>
                </div>
                <div class="aui-list-item-inner">
                    最新活动
                </div>
            </a>
            <a href="/dachemobile" class="aui-list-item">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont iconfont aui-text-info">&#xe6a6;</i>
                </div>
                <div class="aui-list-item-inner">
                    客货增驾
                </div>
            </a>

            <a href="/jkmj" class="aui-list-item">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont iconfont aui-text-info">&#xe6c0;</i>
                </div>
                <div class="aui-list-item-inner">
                    驾考秘籍
                </div>
            </a>
            <a href="/ykkb" class="aui-list-item">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont iconfont aui-text-info">&#xe64a;</i>
                </div>
                <div class="aui-list-item-inner">
                    优快快报
                </div>
            </a>
            <a href="/mnks" class="aui-list-item">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont iconfont aui-text-info">&#xe6be;</i>
                </div>
                <div class="aui-list-item-inner">
                    模拟考试
                </div>
            </a>
            <a href="/App" class="aui-list-item">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont iconfont aui-text-info">&#xe61a;</i>
                </div>
                <div class="aui-list-item-inner">
                    APP下载
                </div>
            </a>
            <a href="/my" class="aui-list-item">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont iconfont aui-text-info">&#xe614;</i>
                </div>
                <div class="aui-list-item-inner">
                    个人中心
                </div>
            </a>
        </ul>
    </div>
</div>
<!--弹出菜单-->
<div class="aui-popup aui-popup-top-right" id="top-right1">
    <div class="aui-popup-arrow"></div>
    <div class="aui-popup-content">
        <ul class="aui-list aui-list-noborder">
            <li class="aui-list-item">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont aui-icon-my aui-text-warning"></i>
                </div>
                <div class="aui-list-item-inner aui-list-item-middle">
                    只看楼主
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-label-icon">
                    <font class="iconfont" color="#1296db">&#xe6b9;</font>
                </div>
                <div class="aui-list-item-inner">
                    倒序查看
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-label-icon">
                    <font class="iconfont" color="#1296db">&#xe629;</font>
                </div>
                <div class="aui-list-item-inner">
                    举报楼主
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-label-icon">
                    <font class="iconfont" color="#1296db">&#xe64b;</font>

                </div>
                <div class="aui-list-item-inner">
                    分享帖子
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont aui-icon-star aui-text-danger"></i>
                </div>
                <div class="aui-list-item-inner">
                    收藏帖子
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="aui-bar aui-bar-tab open-popup" style="line-height: 2.7rem;" id="fbpj">
    <div class="aui-text-left aui-padded-l-10" style="border: 1px solid #dddddd;margin: 0.2rem 0.75rem;">我来回答</div>
</div>
<div id="half" class="weui-popup__container popup-bottom">
    <div class="weui-popup__overlay"></div>
    <div class="weui-popup__modal" id="face_box">
        <div class="toolbar">
            <div class="toolbar-inner">
                <a href="javascript:;" class="picker-button close-popup" style="left: 0;right: auto">取消</a>
                <h2 class="title">回复楼主</h2>
                <a href="javascript:;" class="picker-button close-popup">发表</a>
            </div>
        </div>
        <div class="modal-content aui-padded-l-10 aui-padded-r-10 fbpj">
            <div id="editor" contenteditable="true" style="border: 1px solid #ddd;padding: 0.5rem;background: #fff;"></div>
        </div>
        <div class="aui-padded-l-10"><font size="6" id="btn" class="iconfont">&#xe609;</font></div>
    </div>
</div>
</body>
<!--延迟加载-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery_lazyload/1.9.7/jquery.lazyload.js"></script>
<script type="text/javascript" src="javascripts/highlight.pack.js"></script>
<script type="text/javascript" src="javascripts/jquery.mousewheel-3.0.6.min.js"></script>
<script type="text/javascript" src="javascripts/jquery.emoji.min.js"></script>

<script>
    $(function () {
        $("#editor").emoji({
            button: "#btn",
            showTab: true,
            animation: 'none',
            icons: [{
                name: "QQ表情",
                path: "images/face/qq/",
                maxNum: 50,
                excludeNums: [41, 45, 54],
                file: ".gif",
                placeholder:':qq_{alias}:',
                alias: {
                    1: "hehe",
                    2: "haha",
                    3: "tushe",
                    4: "a",
                    5: "ku",
                    6: "lu",
                    7: "kaixin",
                    8: "han",
                    9: "lei",
                    10: "heixian",
                    11: "bishi",
                    12: "bugaoxing",
                    13: "zhenbang",
                    14: "qian",
                    15: "yiwen",
                    16: "yinxian",
                    17: "tu",
                    18: "yi",
                    19: "weiqu",
                    20: "huaxin",
                    21: "hu",
                    22: "xiaonian",
                    23: "neng",
                    24: "taikaixin",
                    25: "huaji",
                    26: "mianqiang",
                    27: "kuanghan",
                    28: "guai",
                    29: "shuijiao",
                    30: "jinku",
                    31: "shengqi",
                    32: "jinya",
                    33: "pen",
                    34: "aixin",
                    35: "xinsui",
                    36: "meigui",
                    37: "liwu",
                    38: "caihong",
                    39: "xxyl",
                    40: "taiyang",
                    41: "qianbi",
                    42: "dnegpao",
                    43: "chabei",
                    44: "dangao",
                    45: "yinyue",
                    46: "haha2",
                    47: "shenli",
                    48: "damuzhi",
                    49: "ruo",
                    50: "OK"
                }
            },{
                name: "贴吧表情",
                path: "images/face/tieba/",
                maxNum: 50,
                excludeNums: [41, 45, 54],
                file: ".jpg",
                placeholder:':tieba_{alias}:',
                alias: {
                    1: "hehe",
                    2: "haha",
                    3: "tushe",
                    4: "a",
                    5: "ku",
                    6: "lu",
                    7: "kaixin",
                    8: "han",
                    9: "lei",
                    10: "heixian",
                    11: "bishi",
                    12: "bugaoxing",
                    13: "zhenbang",
                    14: "qian",
                    15: "yiwen",
                    16: "yinxian",
                    17: "tu",
                    18: "yi",
                    19: "weiqu",
                    20: "huaxin",
                    21: "hu",
                    22: "xiaonian",
                    23: "neng",
                    24: "taikaixin",
                    25: "huaji",
                    26: "mianqiang",
                    27: "kuanghan",
                    28: "guai",
                    29: "shuijiao",
                    30: "jinku",
                    31: "shengqi",
                    32: "jinya",
                    33: "pen",
                    34: "aixin",
                    35: "xinsui",
                    36: "meigui",
                    37: "liwu",
                    38: "caihong",
                    39: "xxyl",
                    40: "taiyang",
                    41: "qianbi",
                    42: "dnegpao",
                    43: "chabei",
                    44: "dangao",
                    45: "yinyue",
                    46: "haha2",
                    47: "shenli",
                    48: "damuzhi",
                    49: "ruo",
                    50: "OK"
                }
            }]
        });
        //父swiper
        var mySwiper0 = new Swiper('#swiper-container0',{//子swiper
            nested:true,
            resistanceRatio: 0,
            observer:true,
            observeParents:true,
            bulletClass : 'swiper-pagination-bullet0',
            pagination : '.swiper-pagination0',
            lazyLoading:true
        })
        var mySwiper1 = new Swiper('#swiper-container1',{//子swiper
            nested:true,
            resistanceRatio: 0,
            observer:true,
            observeParents:true,
            bulletClass : 'swiper-pagination-bullet1',
            pagination : '.swiper-pagination1',
        })
        var mySwiper = new Swiper('#emoji_container_1',{
            pagination : '.aui-tab1',
            bulletClass : 'aui-tab-item',
            bulletActiveClass : 'my-aui-active',
            paginationClickable :true,
            observer:true,
            observeParents:true,
            paginationBulletRender: function (a, b) {
                switch (a) {
                    case 0:
                        name = "&#xe61b;";
                        num=0;
                        break;
                    case 1:
                        name = "&#xe7e6;";
                        break;
                        num=1;
                    case 2:
                        name = "&#xe626;";
                        num=2;
                        break;
                    case 3:
                        name = "&#xe610;";
                        num=3;
                        break;
                    case 4:
                        name = "&#xe682;";
                        num=4;
                        break;
                    case 5:
                        name = "&#xe681;";
                        num=5;
                        break;
                    default:
                        name = ""
                }
                return '<div class="iconfont ' + b + '">' + name + "</div>"
            },
            onSlideChangeEnd:function (swiper) {
                mySwiper1.init();
                console.log(swiper.activeIndex);

            }
        });
    })


    var face=1;
    $("#fbpj").click(function () {
        $("#half").popup();
    })
    $(".panel-default").emojiParse({
        icons: [{
            path: "images/face/tieba/",
            file: ".jpg",
            placeholder: ":{alias}:",
            alias: {
                1: "hehe",
                2: "haha",
                3: "tushe",
                4: "a",
                5: "ku",
                6: "lu",
                7: "kaixin",
                8: "han",
                9: "lei",
                10: "heixian",
                11: "bishi",
                12: "bugaoxing",
                13: "zhenbang",
                14: "qian",
                15: "yiwen",
                16: "yinxian",
                17: "tu",
                18: "yi",
                19: "weiqu",
                20: "huaxin",
                21: "hu",
                22: "xiaonian",
                23: "neng",
                24: "taikaixin",
                25: "huaji",
                26: "mianqiang",
                27: "kuanghan",
                28: "guai",
                29: "shuijiao",
                30: "jinku",
                31: "shengqi",
                32: "jinya",
                33: "pen",
                34: "aixin",
                35: "xinsui",
                36: "meigui",
                37: "liwu",
                38: "caihong",
                39: "xxyl",
                40: "taiyang",
                41: "qianbi",
                42: "dnegpao",
                43: "chabei",
                44: "dangao",
                45: "yinyue",
                46: "haha2",
                47: "shenli",
                48: "damuzhi",
                49: "ruo",
                50: "OK"
            }
        }, {
            path: "dist/img/qq/",
            file: ".gif",
            placeholder: "#qq_{alias}#"
        }]
    })
</script>
<script type="text/javascript">
    var popup = new auiPopup();
</script>
<script>
    $(document).on("open", ".weui-popup-modal", function() {
        console.log("open popup");
    }).on("close", ".weui-popup-modal", function() {
        console.log("close popup");
    });
</script>
<script>
    var swiper_topiclabel = new Swiper('.conversation_topiclabel', {
        freeMode: true,
        freeModeMomentumRatio: 0.5,
        slidesPerView: 'auto'
    });
</script>
<script type="text/javascript">
    $(function () {
        $("img.lazy2").lazyload();
    });
</script>
<script>
    $(function () {
        $(".gallery").click(function (e) {
            e.preventDefault()
            var imgs = [];
            $("img", this).each(function () {
                imgs.push($(this).attr('src'));
            })
            pb1 = $.photoBrowser({
                items: imgs
            });
            pb1.open();
        })
    })
</script>
</html>
