<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include headPublic %>
    <style>
        .aui-list .aui-list-item-media {
            width: 33% !important;
        }

        .aui-list .aui-list-item-inner {
            width: 67%;
        }

        .aui-list .aui-list-item-text {
            display: -webkit-box
        }

        .aui-list .aui-list-item-media img {
            height: 85px;
        }

        button, .aui-btn {
            padding: 0.1rem 0.25rem;
            color: #fff;
            font-size: 0.6rem;
        }

        .aui-info, .aui-list .aui-list-item-text {
            font-size: 0.6rem;
        }

        .aui-info * {
            vertical-align: bottom
        }

        .aui-border-l:before, .aui-border-r:after {
            z-index: 8;
        }

        .game img {
            width: 50% !important;
            display: inline-block !important;
        }
    </style>
</head>
<body class="tabs2">
<header class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn " href="javascript:history.back();">
        <span class="aui-iconfont aui-icon-left"></span>
    </a>
    <div class="aui-title">
        <a href=""><%= title %></a>
    </div>
</header>
<div class="aui-content">
    <ul class="aui-list aui-media-list">
        <a href="/zxhd" class="aui-list-item aui-list-item-arrow">
            <div class="aui-list-item-inner" style="width: 100%">
                <div class="aui-list-item-text">
                    <div class="aui-list-item-title"><font class="iconfont" color="#03a9f4">&#xe7a0;</font> 最新活动</div>
                    <div class="aui-list-item-right">更多</div>
                </div>
            </div>
        </a>
        <li class="aui-list-item">
            <a href="###">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media">
                        <img src="http://files.ukxueche.com/activity/4101/106_sm.png"
                             alt="成功驾校五一大放价，最高直降1000元！,郑州驾校最新优惠">
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title aui-ellipsis-1" style="width: 100%">郑州驾培市场将迎来新的市场格局</div>
                        </div>
                        <div class="aui-info aui-margin-t-5" style="padding:0">
                            截止日期：
                        </div>
                        <div class="aui-info aui-margin-t-5" style="padding:0">
                            联系电话：
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="aui-list-item">
            <a href="###">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media">
                        <img src="http://files.ukxueche.com/activity/4101/106_sm.png"
                             alt="成功驾校五一大放价，最高直降1000元！,郑州驾校最新优惠">
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title aui-ellipsis-1" style="width: 100%">郑州驾培市场将迎来新的市场格局</div>
                        </div>
                        <div class="aui-info aui-margin-t-5" style="padding:0">
                            截止日期：
                        </div>
                        <div class="aui-info aui-margin-t-5" style="padding:0">
                            联系电话：
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner" style="width: 100%;">
                <div class="aui-row aui-row-padded">
                    <div class="aui-col-xs-4">
                        <img src="http://files.ukxueche.com/activity/4101/106_sm.png">
                    </div>
                    <div class="aui-col-xs-4">
                        <img src="http://files.ukxueche.com/activity/4101/106_sm.png">
                    </div>
                    <div class="aui-col-xs-4">
                        <img src="http://files.ukxueche.com/activity/4101/106_sm.png">
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <ul class="aui-list aui-media-list aui-text-center aui-margin-t-10">
        <div class="aui-list-item">
            <div class="aui-list-item-inner" style="width: 100%">
                <div class="aui-list-item-text">
                    <div class="aui-list-item-title"><font class="iconfont" color="#03a9f4">&#xe628;</font> 学车小游戏</div>
                </div>
            </div>
        </div>
        <section class="aui-grid game">
            <div class="aui-row">
                <div class="aui-col-xs-3">
                    <img src="images/game.jpg">
                    <div class="aui-grid-label">倒车入库</div>
                </div>
                <div class="aui-col-xs-3">
                    <img src="images/game.jpg">
                    <div class="aui-grid-label">倒车入库</div>
                </div>
                <div class="aui-col-xs-3">
                    <img src="images/game.jpg">
                    <div class="aui-grid-label">倒车入库</div>
                </div>
                <div class="aui-col-xs-3">
                    <img src="images/game.jpg">
                    <div class="aui-grid-label">倒车入库</div>
                </div>
                <div class="aui-col-xs-3">
                    <img src="images/game.jpg">
                    <div class="aui-grid-label">倒车入库</div>
                </div>
                <div class="aui-col-xs-3">
                    <img src="images/game.jpg">
                    <div class="aui-grid-label">倒车入库</div>
                </div>
                <div class="aui-col-xs-3">
                    <img src="images/game.jpg">
                    <div class="aui-grid-label">倒车入库</div>
                </div>
                <div class="aui-col-xs-3">
                    <img src="images/game.jpg">
                    <div class="aui-grid-label">倒车入库</div>
                </div>
            </div>
        </section>
    </ul>
</div>
<% include footPublic %>
</body>
</html>
