<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <% include headPublic %>
</head>
<body>
<header class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn " href="javascript:history.back();">
        <span class="aui-iconfont aui-icon-left"></span>
    </a>
    <div class="aui-title">
        <a href=""><%=title%></a>
    </div>
</header>
<div class="screening">
    <ul class="aui-list aui-media-list ">
        <li class="aui-list-item aui-list-item-middle ">
            <div class="aui-media-list-item-inner">
                <div class="aui-list-item-media">
                    <img src="images/liulangnan.png" class="aui-img-round">
                </div>
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title">卢亚飞
                            <div class="aui-label aui-label-danger aui-label-outlined">C1</div>
                            <i class="aui-iconfont aui-icon-star aui-text-warning"></i>
                            <i class="aui-iconfont aui-icon-star aui-text-warning"></i>
                            <i class="aui-iconfont aui-icon-star aui-text-warning"></i>
                            <i class="aui-iconfont aui-icon-star aui-text-warning"></i>
                            <i class="aui-iconfont aui-icon-star"></i>
                        </div>
                    </div>
                    <div class="aui-list-item-text aui-margin-t-5">
                        <small class="aui-text-default">性别:男<span class="pipe">|</span>年龄:28岁<span class="pipe">|</span>教龄:3年</small>
                    </div>
                    <div class="aui-list-item-text aui-margin-t-5">
                        <small>做一个优秀的教练，教好每一位学员是我们的职责</small>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="aui-content" style="padding-top: 8.3rem;">
    <ul class="aui-list">
        <li class="aui-list-item">
            <div class="aui-list-item-inner ">
                <div class="aui-list-item-title aui-font-size-14">科二 奇瑞 豫AC508学 61人已学过 <span class="aui-text-danger">¥0/h</span></div>
                <div class="aui-list-item-right aui-border-l aui-padded-l-10"><a href="tel:13343845617" class="aui-font-size-16 aui-text-info aui-iconfont aui-icon-phone"></a></div>
            </div>
        </li>
        <a href="/jxxq" class="aui-border-b">
            <li class="aui-list-item aui-list-item-arrow ">
                <div class="aui-list-item-inner ">
                    <div class="aui-list-item-title aui-font-size-14">鸿通驾校（京广路校区）</div>
                    <div class="aui-list-item-right">普通班</div>
                </div>
            </li>
        </a>
        <a href="###">
            <li class="aui-list-item aui-list-item-arrow">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-title aui-ellipsis-1 aui-col-xs-9 aui-font-size-14">河南省郑州市中原区科学大道红松路交叉口东南角</div>
                    <div class="aui-list-item-right distance">定位中...</div>
                </div>
            </li>
        </a>
    </ul>
    <ul class="aui-list aui-margin-t-15">
        <a href="/jxpj">
            <li class="aui-list-item" style="border-bottom: 1px solid #dddddd">
                <div class="aui-list-item-inner aui-list-item-arrow">
                    <div class="aui-list-item-title">评价(845)</div>
                    <div class="aui-list-item-right">
                        好评<span class="aui-text-danger">99%</span>
                    </div>
                </div>
            </li>
        </a>
        <div class="aui-tab">
            <div class="aui-tab-item">学员评分:<span class="aui-text-danger">5</span></div>
            <div class="aui-tab-item">技术水准:<span class="aui-text-danger">5</span></div>
            <div class="aui-tab-item">服务水准:<span class="aui-text-danger">5</span></div>
        </div>
    </ul>
    <ul class="aui-list aui-media-list">
        <li class="aui-list-item aui-list-item-middle">
            <div class="aui-media-list-item-inner">
                <div class="aui-list-item-media">
                    <img src="images/liulangnan.png" class="aui-img-round">
                </div>
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title">优快匿名</div>
                        <div class="aui-list-item-right">2016-08-29</div>
                    </div>
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title"><i class="aui-iconfont aui-icon-star aui-margin-r-5 aui-text-warning"></i><i class="aui-iconfont aui-icon-star aui-margin-r-5 aui-text-warning"></i><i class="aui-iconfont aui-icon-star aui-margin-r-5"></i><i class="aui-iconfont aui-icon-star aui-margin-r-5"></i><i class="aui-iconfont aui-icon-star aui-margin-r-5"></i></div>
                        <div class="aui-list-item-right">技术水准:5<span class="pipe">|</span>服务水准:5</div>
                    </div>
                    <div class="aui-list-item-text">
                        驾校评价部分，参考教练详情评价部分
                    </div>
                </div>
            </div>
        </li>
        <li class="aui-list-item aui-list-item-middle">
            <div class="aui-media-list-item-inner">
                <div class="aui-list-item-media">
                    <img src="images/liulangnan.png" class="aui-img-round">
                </div>
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title">优快匿名</div>
                        <div class="aui-list-item-right">2016-08-29</div>
                    </div>
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title"><i class="aui-iconfont aui-icon-star aui-margin-r-5 aui-text-warning"></i><i class="aui-iconfont aui-icon-star aui-margin-r-5 aui-text-warning"></i><i class="aui-iconfont aui-icon-star aui-margin-r-5"></i><i class="aui-iconfont aui-icon-star aui-margin-r-5"></i><i class="aui-iconfont aui-icon-star aui-margin-r-5"></i></div>
                        <div class="aui-list-item-right">技术水准:5<span class="pipe">|</span>服务水准:5</div>
                    </div>
                    <div class="aui-list-item-text">
                        驾校评价部分，参考教练详情评价部分
                    </div>
                </div>
            </div>
        </li>
        <li class="aui-list-item aui-list-item-middle">
            <div class="aui-media-list-item-inner">
                <div class="aui-list-item-media">
                    <img src="images/liulangnan.png" class="aui-img-round">
                </div>
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title">优快匿名</div>
                        <div class="aui-list-item-right">2016-08-29</div>
                    </div>
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title"><i class="aui-iconfont aui-icon-star aui-margin-r-5 aui-text-warning"></i><i class="aui-iconfont aui-icon-star aui-margin-r-5 aui-text-warning"></i><i class="aui-iconfont aui-icon-star aui-margin-r-5"></i><i class="aui-iconfont aui-icon-star aui-margin-r-5"></i><i class="aui-iconfont aui-icon-star aui-margin-r-5"></i></div>
                        <div class="aui-list-item-right">技术水准:5<span class="pipe">|</span>服务水准:5</div>
                    </div>
                    <div class="aui-list-item-text">
                        驾校评价部分，参考教练详情评价部分
                    </div>
                </div>
            </div>
        </li>
        <li class="aui-list-item aui-list-item-middle">
            <div class="aui-media-list-item-inner">
                <div class="aui-list-item-media">
                    <img src="images/liulangnan.png" class="aui-img-round">
                </div>
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title">优快匿名</div>
                        <div class="aui-list-item-right">2016-08-29</div>
                    </div>
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title"><i class="aui-iconfont aui-icon-star aui-margin-r-5 aui-text-warning"></i><i class="aui-iconfont aui-icon-star aui-margin-r-5 aui-text-warning"></i><i class="aui-iconfont aui-icon-star aui-margin-r-5"></i><i class="aui-iconfont aui-icon-star aui-margin-r-5"></i><i class="aui-iconfont aui-icon-star aui-margin-r-5"></i></div>
                        <div class="aui-list-item-right">技术水准:5<span class="pipe">|</span>服务水准:5</div>
                    </div>
                    <div class="aui-list-item-text">
                        驾校评价部分，参考教练详情评价部分
                    </div>
                </div>
            </div>
        </li>
        <li class="aui-list-item aui-list-item-middle">
            <div class="aui-media-list-item-inner">
                <div class="aui-list-item-media">
                    <img src="images/liulangnan.png" class="aui-img-round">
                </div>
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title">优快匿名</div>
                        <div class="aui-list-item-right">2016-08-29</div>
                    </div>
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title"><i class="aui-iconfont aui-icon-star aui-margin-r-5 aui-text-warning"></i><i class="aui-iconfont aui-icon-star aui-margin-r-5 aui-text-warning"></i><i class="aui-iconfont aui-icon-star aui-margin-r-5"></i><i class="aui-iconfont aui-icon-star aui-margin-r-5"></i><i class="aui-iconfont aui-icon-star aui-margin-r-5"></i></div>
                        <div class="aui-list-item-right">技术水准:5<span class="pipe">|</span>服务水准:5</div>
                    </div>
                    <div class="aui-list-item-text">
                        驾校评价部分，参考教练详情评价部分
                    </div>
                </div>
            </div>
        </li>
        <li class="aui-list-item aui-text-center">
            <a href="/pingjia" class="aui-btn aui-btn-info aui-btn-outlined aui-margin-t-5">查看全部评价</a>
        </li>
    </ul>
</div>
<footer class="aui-bar aui-bar-tab" id="footer">
    <div class="aui-bar-tab-item">
        <a href="/yysj" class="aui-btn aui-btn-info aui-btn-block">我要约车</a>
    </div>
</footer>
<div id="allmap" style="display: none;"></div>
</body>
<script type="text/javascript">
    apiready = function(){
        api.parseTapmode();
    }
    var tab = new auiTab({
        element:document.getElementById("tab"),
        // callback:function(o,dom){
        //     console.log(o);
        // }
    },function(ret){
        console.log(ret)
    });
</script>
<script type="text/javascript">
    //html5 定位功能
    $(function(){
        var pointA = new BMap.Point(localStorage.quanshunPointLng,localStorage.quanshunPointlat);  // 为驾校坐标创建点坐标A
        //判断是否支持html定位功能
        if (navigator.geolocation)
        {
            navigator.geolocation.getCurrentPosition(translatePoint);
        }
        else
        {
            alert("该浏览器不支持获取地理位置。")
        }
        function translatePoint(position){
            var currentLat = position.coords.latitude;
            var currentLon = position.coords.longitude;
            var gpsPoint = new BMap.Point(currentLon, currentLat);
            BMap.Convertor.translate(gpsPoint, 0, initMap); //转换坐标
        }
        // 百度地图API功能
        function initMap(point){
            //初始化地图
            var map = new BMap.Map("allmap");
            var pointB = new BMap.Point(point.lng,point.lat); //用户坐标
            $(".distance").text((map.getDistance(pointA,pointB)).toFixed(0)+"米");//获取两点距离,保留小数点后两位

        }

    });
</script>
</html>
