<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <% include headPublic %>
</head>
<body>
<% include head.ejs%>
<div class="aui-tab screening aui-border-b" id="tab">
    <div class="aui-tab-item aui-active recom">人气优先<i class="iconfont">&#xe606;</i></div>
    <div class="aui-tab-item nearby">评级优先<i class="iconfont">&#xe605;</i></div>
    <div class="aui-tab-item sequenc">教龄最长<i class="iconfont">&#xe606;</i></div>
</div>
<div class="aui-content" style="padding-top: 5rem;">
    <ul class="aui-list aui-media-list">
        <li class="aui-list-item aui-list-item-middle">
            <a href="/jlxq">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media">
                        <img src="images/liulangnan.png" class="aui-img-round">
                    </div>
                    <div class="aui-list-item-inner aui-list-item-arrow">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">卢亚飞<i class="aui-iconfont iconfont aui-margin-l-5 aui-margin-r-5">&#xe604;</i><small>3年</small></div>
                            <div class="aui-list-item-right">普通班</div>
                        </div>
                        <div class="aui-list-item-text aui-margin-t-5">
                            <div class="aui-list-item-title aui-font-size-14">
                                <div class="aui-label aui-label-danger aui-label-outlined">C1</div>
                                <small class="aui-text-default">科目二 奇瑞 豫AC508学</small>
                            </div>
                            <div class="aui-list-item-right aui-text-danger">传统培训</div>
                        </div>
                        <div class="aui-list-item-text aui-margin-t-5">
                            <span>
                            <i class="aui-iconfont aui-icon-star aui-text-warning"></i>
                            <i class="aui-iconfont aui-icon-star aui-text-warning"></i>
                            <i class="aui-iconfont aui-icon-star aui-text-warning"></i>
                            <i class="aui-iconfont aui-icon-star aui-text-warning"></i>
                            <i class="aui-iconfont aui-icon-star"></i><small class="aui-text-default aui-margin-l-5">61人已学过</small>
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="aui-list-item aui-list-item-middle">
            <a href="/jlxq">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media">
                        <img src="images/liulangnan.png" class="aui-img-round">
                    </div>
                    <div class="aui-list-item-inner aui-list-item-arrow">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">卢亚飞<i class="aui-iconfont aui-icon-lock aui-margin-l-5 aui-margin-r-5"></i><small>3年</small></div>
                            <div class="aui-list-item-right">普通班</div>
                        </div>
                        <div class="aui-list-item-text aui-margin-t-5">
                            <div class="aui-list-item-title aui-font-size-14">
                                <div class="aui-label aui-label-danger aui-label-outlined">C1</div>
                                <small class="aui-text-default">科目二 奇瑞 豫AC508学</small>
                            </div>
                            <div class="aui-list-item-right aui-text-danger">传统培训</div>
                        </div>
                        <div class="aui-list-item-text aui-margin-t-5">
                            <span>
                            <i class="aui-iconfont aui-icon-star aui-text-warning"></i>
                            <i class="aui-iconfont aui-icon-star aui-text-warning"></i>
                            <i class="aui-iconfont aui-icon-star aui-text-warning"></i>
                            <i class="aui-iconfont aui-icon-star aui-text-warning"></i>
                            <i class="aui-iconfont aui-icon-star"></i><small class="aui-text-default aui-margin-l-5">61人已学过</small>
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="aui-list-item aui-list-item-middle">
            <a href="/jlxq">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media">
                        <img src="images/liulangnan.png" class="aui-img-round">
                    </div>
                    <div class="aui-list-item-inner aui-list-item-arrow">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">卢亚飞<i class="aui-iconfont aui-icon-lock aui-margin-l-5 aui-margin-r-5"></i><small>3年</small></div>
                            <div class="aui-list-item-right">普通班</div>
                        </div>
                        <div class="aui-list-item-text aui-margin-t-5">
                            <div class="aui-list-item-title aui-font-size-14">
                                <div class="aui-label aui-label-danger aui-label-outlined">C1</div>
                                <small class="aui-text-default">科目二 奇瑞 豫AC508学</small>
                            </div>
                            <div class="aui-list-item-right aui-text-danger">传统培训</div>
                        </div>
                        <div class="aui-list-item-text aui-margin-t-5">
                            <span>
                            <i class="aui-iconfont aui-icon-star aui-text-warning"></i>
                            <i class="aui-iconfont aui-icon-star aui-text-warning"></i>
                            <i class="aui-iconfont aui-icon-star aui-text-warning"></i>
                            <i class="aui-iconfont aui-icon-star aui-text-warning"></i>
                            <i class="aui-iconfont aui-icon-star"></i><small class="aui-text-default aui-margin-l-5">61人已学过</small>
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="aui-list-item aui-list-item-middle">
            <a href="/jlxq">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media">
                        <img src="images/liulangnan.png" class="aui-img-round">
                    </div>
                    <div class="aui-list-item-inner aui-list-item-arrow">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">卢亚飞<i class="aui-iconfont aui-icon-lock aui-margin-l-5 aui-margin-r-5"></i><small>3年</small></div>
                            <div class="aui-list-item-right">普通班</div>
                        </div>
                        <div class="aui-list-item-text aui-margin-t-5">
                            <div class="aui-list-item-title aui-font-size-14">
                                <div class="aui-label aui-label-danger aui-label-outlined">C1</div>
                                <small class="aui-text-default">科目二 奇瑞 豫AC508学</small>
                            </div>
                            <div class="aui-list-item-right aui-text-danger">传统培训</div>
                        </div>
                        <div class="aui-list-item-text aui-margin-t-5">
                            <span>
                            <i class="aui-iconfont aui-icon-star aui-text-warning"></i>
                            <i class="aui-iconfont aui-icon-star aui-text-warning"></i>
                            <i class="aui-iconfont aui-icon-star aui-text-warning"></i>
                            <i class="aui-iconfont aui-icon-star aui-text-warning"></i>
                            <i class="aui-iconfont aui-icon-star"></i><small class="aui-text-default aui-margin-l-5">61人已学过</small>
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="aui-list-item aui-list-item-middle">
            <a href="/jlxq">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media">
                        <img src="images/liulangnan.png" class="aui-img-round">
                    </div>
                    <div class="aui-list-item-inner aui-list-item-arrow">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">卢亚飞<i class="aui-iconfont aui-icon-lock aui-margin-l-5 aui-margin-r-5"></i><small>3年</small></div>
                            <div class="aui-list-item-right">普通班</div>
                        </div>
                        <div class="aui-list-item-text aui-margin-t-5">
                            <div class="aui-list-item-title aui-font-size-14">
                                <div class="aui-label aui-label-danger aui-label-outlined">C1</div>
                                <small class="aui-text-default">科目二 奇瑞 豫AC508学</small>
                            </div>
                            <div class="aui-list-item-right aui-text-danger">传统培训</div>
                        </div>
                        <div class="aui-list-item-text aui-margin-t-5">
                            <span>
                            <i class="aui-iconfont aui-icon-star aui-text-warning"></i>
                            <i class="aui-iconfont aui-icon-star aui-text-warning"></i>
                            <i class="aui-iconfont aui-icon-star aui-text-warning"></i>
                            <i class="aui-iconfont aui-icon-star aui-text-warning"></i>
                            <i class="aui-iconfont aui-icon-star"></i><small class="aui-text-default aui-margin-l-5">61人已学过</small>
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="aui-list-item aui-list-item-middle">
            <a href="/jlxq">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media">
                        <img src="images/liulangnan.png" class="aui-img-round">
                    </div>
                    <div class="aui-list-item-inner aui-list-item-arrow">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">卢亚飞<i class="aui-iconfont aui-icon-lock aui-margin-l-5 aui-margin-r-5"></i><small>3年</small></div>
                            <div class="aui-list-item-right">普通班</div>
                        </div>
                        <div class="aui-list-item-text aui-margin-t-5">
                            <div class="aui-list-item-title aui-font-size-14">
                                <div class="aui-label aui-label-danger aui-label-outlined">C1</div>
                                <small class="aui-text-default">科目二 奇瑞 豫AC508学</small>
                            </div>
                            <div class="aui-list-item-right aui-text-danger">传统培训</div>
                        </div>
                        <div class="aui-list-item-text aui-margin-t-5">
                            <span>
                            <i class="aui-iconfont aui-icon-star aui-text-warning"></i>
                            <i class="aui-iconfont aui-icon-star aui-text-warning"></i>
                            <i class="aui-iconfont aui-icon-star aui-text-warning"></i>
                            <i class="aui-iconfont aui-icon-star aui-text-warning"></i>
                            <i class="aui-iconfont aui-icon-star"></i><small class="aui-text-default aui-margin-l-5">61人已学过</small>
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="aui-list-item aui-list-item-middle">
            <a href="/jlxq">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media">
                        <img src="images/liulangnan.png" class="aui-img-round">
                    </div>
                    <div class="aui-list-item-inner aui-list-item-arrow">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">卢亚飞<i class="aui-iconfont aui-icon-lock aui-margin-l-5 aui-margin-r-5"></i><small>3年</small></div>
                            <div class="aui-list-item-right">普通班</div>
                        </div>
                        <div class="aui-list-item-text aui-margin-t-5">
                            <div class="aui-list-item-title aui-font-size-14">
                                <div class="aui-label aui-label-danger aui-label-outlined">C1</div>
                                <small class="aui-text-default">科目二 奇瑞 豫AC508学</small>
                            </div>
                            <div class="aui-list-item-right aui-text-danger">传统培训</div>
                        </div>
                        <div class="aui-list-item-text aui-margin-t-5">
                            <span>
                            <i class="aui-iconfont aui-icon-star aui-text-warning"></i>
                            <i class="aui-iconfont aui-icon-star aui-text-warning"></i>
                            <i class="aui-iconfont aui-icon-star aui-text-warning"></i>
                            <i class="aui-iconfont aui-icon-star aui-text-warning"></i>
                            <i class="aui-iconfont aui-icon-star"></i><small class="aui-text-default aui-margin-l-5">61人已学过</small>
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>
<% include footPublic %>
</body>
</html>
