<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <% include headPublic %>
    <style>
        .aui-list .aui-list-item-media {
            width: 33%;
        }
        .aui-list .aui-list-item-inner {
            width: 67%;
        }

        .aui-list .aui-list-item-text {
            display: -webkit-box
        }

        .aui-list .aui-list-item-media img {
            height: 85px;
        }

        button,.aui-btn {
            padding: 0.1rem 0.25rem;
            color: #fff;
            font-size: 0.6rem;
        }

        .aui-info,.aui-list .aui-list-item-text {
            font-size: 0.6rem;
        }

        .aui-info * {
            vertical-align: bottom
        }

        .aui-content {
            margin-bottom: 3rem;
        }

        .aui-border-l:before,.aui-border-r:after {
            z-index: 8;
        }
    </style>
</head>
<body class="zxzk">
<header class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn " href="javascript:history.back();">
        <span class="aui-iconfont aui-icon-left"></span>
    </a>
    <div class="aui-title">
        <a href=""><%=title%></a>
    </div>
</header>
<div class="aui-content">
    <div class="aui-grid aui-media-list aui-list xcList">
        <li class="aui-list-item">
            <a href="/m.ukxueche.com/kwxx/351.html">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media">
                        <img src="http://files.ukxueche.com/ueditor/jsp/upload/image/20170427/1493273791956009931.jpg">
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title aui-ellipsis-1" style="width: 100%">郑州驾培市场将迎来新的市场格局</div>
                        </div>
                        <div class="aui-list-item-text aui-ellipsis-2 aui-margin-t-5">
                            “学时对接”、“打击学时造假”、“限制马路杀手”时下这些关键词，对“未学车的你”、“在学车...</div>
                        <div class="aui-info aui-margin-t-5" style="padding:0">
                            <div class="aui-info-item">
                                <i class="iconfont"></i><span>2017-04-27</span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </li>
    </div>
</div>
</body>
</html>
