<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <% include headPublic %>
</head>
<body class="zxzk">
<header class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn " href="javascript:history.back();">
        <span class="aui-iconfont aui-icon-left"></span>
    </a>
    <div class="aui-title">
        <a href=""><%=title%></a>
    </div>
</header>
<div class="aui-content">
    <section class="aui-grid aui-margin-b-15">
        <div class="aui-row">
            <div class="aui-col-xs-4 aui-border-r">
                <i class="aui-iconfont iconfont">&#xe681;</i>
                <div class="aui-grid-label">车距判断</div>
            </div>
            <div class="aui-col-xs-4 aui-border-r">
                <i class="aui-iconfont iconfont">&#xe684;</i>
                <div class="aui-grid-label">档位操作</div>
            </div>
            <div class="aui-col-xs-4 aui-border-r">
                <i class="aui-iconfont iconfont">&#xe610;</i>
                <div class="aui-grid-label">灯光</div>
            </div>
            <div class="aui-col-xs-4 aui-border-r aui-border-t">
                <i class="aui-iconfont iconfont">&#xe683;</i>
                <div class="aui-grid-label">直行</div>
            </div>
            <div class="aui-col-xs-4 aui-border-r aui-border-t">
                <i class="aui-iconfont iconfont">&#xe6c1;</i>
                <div class="aui-grid-label">指示灯</div>
            </div>
            <div class="aui-col-xs-4 aui-border-t">

            </div>
        </div>
    </section>
</div>
</body>
</html>
