<!DOCTYPE html>
<html style="height: 100%">
<head>
    <title><%=title%></title>
    <% include headPublic %>
    <style>
        input[type="number"],input[type="password"]{color: #fff;}
        .aui-list-item{background: none !important;color: #fff;}
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: #fff;
        }

        ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: #fff;
        }
        .aui-list .aui-list-item-label-icon{color: #fff}
        input:-ms-input-placeholder{
            color: #fff;
        }

        input::-webkit-input-placeholder{
            color: #fff;
        }
        .passbox li.aui-list-item{display: none;}
        .passbox li.aui-list-item:first-child{display: block;}
        .howshow li.aui-list-item:first-child{display: none;}
        .howshow li.aui-list-item:last-child{
            display: block;
        }
        .aui-list .aui-list-item:last-child:after{height: 1px;}
    </style>
</head>
<body>
<div style="background:url('images/include/login_bac3.jpg') no-repeat;background-size: 100% 100%;height:100%;width: 100%;overflow: hidden;position: fixed;top: 0px;left: 0;">
</div>
<header class="aui-bar aui-bar-nav" style="background: none;">
    <a class="aui-pull-left aui-btn " href="javascript:history.back();">
        <span class="aui-iconfont aui-icon-left"></span>
    </a>
    <div class="aui-title">
        <%=title%>
    </div>
</header>
<div class="aui-content-padded" style="padding-top: 2.8rem;margin-top: 0;">
    <div class="aui-text-center">
        <img src="images/include/icon_log2.png" style="width: 25%;">
    </div>
    <ul class="aui-list aui-form-list aui-margin-t-15">
        <li class="aui-list-item aui-padded-l-0">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label-icon">
                    <font size="4" class="iconfont">&#xe702;</font>
                </div>
                <div class="aui-list-item-input">
                    <input type="number" placeholder="手机号">
                </div>
            </div>
        </li>
        <div class="passbox">
            <li class="aui-list-item aui-padded-l-0">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label-icon">
                        <font size="4" class="iconfont">&#xe623;</font>
                    </div>
                    <div class="aui-list-item-input">
                        <input type="password" placeholder="密码">
                    </div>
                </div>
            </li>
            <li class="aui-list-item aui-padded-l-0">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label-icon">
                        <font size="4" class="iconfont">&#xe623;</font>
                    </div>
                    <div class="aui-list-item-input">
                        <input type="password" placeholder="验证码">
                    </div>
                    <div class="aui-list-item-right">
                        <button type="button" class="aui-btn aui-btn-primary aui-bg-default aui-text-default getcode" onclick="getcode()" style="border-radius: 20px;border: none;">获取验证码</button>
                    </div>
                </div>
            </li>
        </div>
        <div class="aui-text-right aui-text-white aui-margin-t-10">忘记密码？</div>
        <input type="submit" value="登录" class="<aui-btn aui-btn-info aui-btn-block" style="margin-top:0.6rem;height: 40px;"></input>

        <div class="aui-margin-t-10"><a href="javascript:;" class="aui-text-white check_pass">短信登录</a><a href="" class="aui-pull-right aui-text-white">注册>></a></div>
    </ul>
    <div class="aui-text-center aui-text-white aui-margin-t-10">点击登录即表示接受<strong>《服务协议》</strong></div>
    <div class="aui-text-center aui-text-white aui-margin-t-10">随便逛逛？</div>
</div>
</body>
<script>
    $(function () {
        $('.check_pass').click(function () {
            $('.passbox').toggleClass('howshow');
            ($(this).text()=='短信登录') ? $(this).text('密码登录') : $(this).text('短信登录')
        });
    })
    function getcode() {
        var time=60;
        $(".getcode").attr("disabled", true);
        var times=setInterval(function () {
            if(time>0){
                $(".getcode").text(time-- + "秒后重发");
            }else{
                $(".getcode").text("点击重发");
                $(".getcode").attr("disabled", false);
                clearInterval(times);
            }
        },1000);
    }
</script>
</html>
