<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <% include headPublic %>
    <style>
     /*   .aui-list .aui-list-item-media{width: 4rem;}
        .choose-show{top: 2.2rem;}*/
        .aui-list-item{
            border-bottom: 1px solid #f4f4f4;
        }
    </style>
</head>
<body style="background: #FFFfff">
<header class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn " href="javascript:history.back();">
        <span class="aui-iconfont aui-icon-left"></span>
    </a>
    <div class="aui-title ">
        我的留言板
    </div>
    <a class="aui-pull-right aui-btn aui-font-size-14">留言</a>
</header>
<div class="aui-content-padded" style="padding-top: 2rem;padding-bottom: 2.5rem;">
    <!--循环区域--> <!--循环区域--> <!--循环区域-->
   <div class="aui-card-list">
       <div class="aui-card-list-header aui-card-list-user">
           <div class="aui-card-list-user-avatar">
               <img src="/images/comit3.jpg" class="aui-img-round" />
           </div>
           <div class="aui-card-list-user-name">
               <div>AUI</div>
               <small>1天前</small>
           </div>
           <div class="aui-card-list-user-info">北京朝阳</div>
       </div>
       <div class="aui-card-list-content-padded aui-border-b">
           你是狗吗
       </div>
   </div>
    <!--循环区域--> <!--循环区域--> <!--循环区域-->

    <div class="aui-card-list">
        <div class="aui-card-list-header aui-card-list-user">
            <div class="aui-card-list-user-avatar">
                <img src="/images/comit3.jpg" class="aui-img-round" />
            </div>
            <div class="aui-card-list-user-name">
                <div>AUI</div>
                <small>1天前</small>
            </div>
            <div class="aui-card-list-user-info">北京朝阳</div>
        </div>
        <div class="aui-card-list-content-padded aui-border-b">
            你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗
        </div>
    </div>
    <div class="aui-card-list">
        <div class="aui-card-list-header aui-card-list-user">
            <div class="aui-card-list-user-avatar">
                <img src="/images/comit1.jpg" class="aui-img-round" />
            </div>
            <div class="aui-card-list-user-name">
                <div>AUI</div>
                <small>1天前</small>
            </div>
            <div class="aui-card-list-user-info">北京朝阳</div>
        </div>
        <div class="aui-card-list-content-padded aui-border-b">
            你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗
        </div>
    </div>
    <div class="aui-card-list">
        <div class="aui-card-list-header aui-card-list-user">
            <div class="aui-card-list-user-avatar">
                <img src="/images/liulangnan.png" class="aui-img-round" />
            </div>
            <div class="aui-card-list-user-name">
                <div>AUI</div>
                <small>1天前</small>
            </div>
            <div class="aui-card-list-user-info">北京朝阳</div>
        </div>
        <div class="aui-card-list-content-padded aui-border-b">
            你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗你是狗吗
        </div>
    </div>

</div>

<div class="shadow"></div>
<% include footPublic %>
</body>
<script></script>
</html>
