<div class="aui-popup aui-popup-top-right" id="top-right">
    <div class="aui-popup-arrow"></div>
    <div class="aui-popup-content">
        <ul class="aui-list aui-list-noborder">
            <a href="/" class="aui-list-item">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont iconfont aui-text-info">&#xe618;</i>
                </div>
                <div class="aui-list-item-inner aui-list-item-middle">
                    首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页
                </div>
            </a>
            <a href="/jxjg" class="aui-list-item">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont iconfont aui-text-info">&#xe66c;</i>
                </div>
                <div class="aui-list-item-inner">
                    郑州驾校
                </div>
            </a>
            <a href="/zxhd" class="aui-list-item">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont iconfont aui-text-info">&#xe7a0;</i>
                </div>
                <div class="aui-list-item-inner">
                    最新活动
                </div>
            </a>
            <a href="/dachemobile" class="aui-list-item">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont iconfont aui-text-info">&#xe6a6;</i>
                </div>
                <div class="aui-list-item-inner">
                    客货增驾
                </div>
            </a>

            <a href="/jkmj" class="aui-list-item">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont iconfont aui-text-info">&#xe6c0;</i>
                </div>
                <div class="aui-list-item-inner">
                    驾考秘籍
                </div>
            </a>
            <a href="/ykkb" class="aui-list-item">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont iconfont aui-text-info">&#xe64a;</i>
                </div>
                <div class="aui-list-item-inner">
                    优快快报
                </div>
            </a>
            <a href="/mnks" class="aui-list-item">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont iconfont aui-text-info">&#xe6be;</i>
                </div>
                <div class="aui-list-item-inner">
                    模拟考试
                </div>
            </a>
            <a href="/comit" class="aui-list-item">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont iconfont aui-text-info">&#xe6b1;</i>
                </div>
                <div class="aui-list-item-inner">
                    优快社区
                </div>
            </a>
            <a href="/appdownload" class="aui-list-item">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont iconfont aui-text-info">&#xe61a;</i>
                </div>
                <div class="aui-list-item-inner">
                    APP下载
                </div>
            </a>
            <a href="/my" class="aui-list-item">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont iconfont aui-text-info">&#xe614;</i>
                </div>
                <div class="aui-list-item-inner">
                    个人中心
                </div>
            </a>
        </ul>
    </div>
</div>
<!--点击右上角弹出菜单列表-->
<script type="text/javascript">
    var popup = new auiPopup();
    function showPopup(){
        popup.show(document.getElementById("top-right"))
    }
</script>