<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <% include headPublic %>
</head>
<body>
<% include head.ejs %>
<div class="aui-content">
    <ul class="aui-list">
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <textarea rows="5" placeholder="请输入签名~~~~"></textarea>
            </div>
        </li>
    </ul>
    <div class="aui-margin-l-15 aui-margin-r-15 aui-margin-t-15">
        <div class="aui-btn aui-btn-info aui-btn-block aui-btn-sm">提交</div>
    </div>
</div>
<% include footPublic %>
</body>
</html>
