<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <% include headPublic %>
    <style>
        .weui-navbar+.weui-tab__bd{ padding-top:0px;}
    </style>
</head>
<body id="question">
<header class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn " href="javascript:history.back();">
        <span class="aui-iconfont aui-icon-left"></span>
    </a>
    <div class="aui-title">
        <a href=""><%=title%></a>
    </div>
</header>
<div class="aui-content">
    <div class="photo">
        <img src="images/include/question_banner.png" alt="" style="vertical-align: middle;">
    </div>
    <ul class="aui-list aui-media-list aui-list-in">
        <li class="aui-list-item aui-list-item-middle">
            <div class="aui-media-list-item-inner">
                <div class="aui-list-item-inner ">
                    <div class="aui-list-item-text question_title aui-list-item-arrow">
                        <div class="aui-list-item-title ">1.优快学车和传统驾校报名有什么区别？</div>
                    </div>
                    <div class="aui-list-item-text question_more">
                        优快学车专注用科技改变学车体验，以服务感动学员。让学员真正的远离“黑驾校”，“吃拿卡要”、“维权难”等驾校潜规则。
                    </div>
                </div>
            </div>
        </li>
        <li class="aui-list-item aui-list-item-middle">
            <div class="aui-media-list-item-inner">
                <div class="aui-list-item-inner ">
                    <div class="aui-list-item-text question_title aui-list-item-arrow">
                        <div class="aui-list-item-title">2.报名需要提供什么材料？</div>
                    </div>
                    <div class="aui-list-item-text question_more">
                        根据个人情况的不同，实际提供的材料的也不相同。<br>
                        （1）本地户口：需要携带本人身份证原价、身份证复印件一张<br>
                        （2）外地户口：需要在考驾照当地办理居住证，然后携带您的居住证和身份证原件、身份证复印件一张、白底一寸彩照2张。<br>
                        备注说明：证件在有效期范围内可以报名，但是为了不影响您之后的考试，建议您尽快办理正式的身法证件。
                    </div>
                </div>
            </div>
        </li>
        <li class="aui-list-item aui-list-item-middle">
            <div class="aui-media-list-item-inner">
                <div class="aui-list-item-inner ">
                    <div class="aui-list-item-text question_title aui-list-item-arrow">
                        <div class="aui-list-item-title">3.报名成功后，多久才能拿证？</div>
                    </div>
                    <div class="aui-list-item-text question_more">
                        根据学习和考试通过情况不同，拿证的时间也会有前后差异。
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="weui-tab aui-margin-t-10">
        <div class="weui-navbar aui-tab">
            <a href="#tab1" class="weui-navbar__item weui_bar_item_on <!--aui-tab-item aui-border-r-->">
                优快学车考驾照
            </a>
            <a href="#tab2" class="weui-navbar__item <!--aui-tab-item-->">
                维权问题
            </a>
        </div>
        <div class="weui-tab__bd">
            <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active aui-list aui-media-list">
                <li class="aui-list-item aui-list-item-middle">
                    <div class="aui-media-list-item-inner">
                        <div class="aui-list-item-inner ">
                            <div class="aui-list-item-text question_title aui-margin-t-5 aui-list-item-arrow">
                                <div class="aui-list-item-title">1.如何使用优快学车约车练车？</div>
                            </div>
                            <div class="aui-list-item-text question_more">
                                学员登录成功后，获取个人的驾考信息自主约车，选择教练和时段，约车成功后，根据约车时段到达培训场地进行培训。
                            </div>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item aui-list-item-middle">
                    <div class="aui-media-list-item-inner">
                        <div class="aui-list-item-inner ">
                            <div class="aui-list-item-text question_title aui-list-item-arrow">
                                <div class="aui-list-item-title">2.如何跨校区购买学时和计时包车？</div>
                            </div>
                            <div class="aui-list-item-text question_more">
                                根据自己的自身条件自主选择校区和班型购买学时，自主选择教练进行在线约车和计时包车培训，可跨驾校计时包车培训。
                            </div>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item aui-list-item-middle">
                    <div class="aui-media-list-item-inner">
                        <div class="aui-list-item-inner ">
                            <div class="aui-list-item-text question_title aui-list-item-arrow">
                                <div class="aui-list-item-title">3.约车成功后想要改变时间或取消怎么办？</div>
                            </div>
                            <div class="aui-list-item-text question_more">
                                在我的驾考的培训中心中可以查看每次的约车培训记录，请在约车取消时段之前进行取消。
                            </div>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item aui-list-item-middle">
                    <div class="aui-media-list-item-inner">
                        <div class="aui-list-item-inner ">
                            <div class="aui-list-item-text question_title aui-list-item-arrow">
                                <div class="aui-list-item-title">4.报名后多久可以参加理论考试？</div>
                            </div>
                            <div class="aui-list-item-text question_more">
                                体检合格通过，受理成功之后，次日即可预约科目一考试。
                            </div>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item aui-list-item-middle">
                    <div class="aui-media-list-item-inner">
                        <div class="aui-list-item-inner ">
                            <div class="aui-list-item-text question_title aui-list-item-arrow">
                                <div class="aui-list-item-title">5.每个科目有几次补考机会？</div>
                            </div>
                            <div class="aui-list-item-text question_more">
                                科目一、安全文明考试次数不限，科目二、科目三各五次
                            </div>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item aui-list-item-middle">
                    <div class="aui-media-list-item-inner">
                        <div class="aui-list-item-inner ">
                            <div class="aui-list-item-text question_title aui-list-item-arrow">
                                <div class="aui-list-item-title">6.理论考试合格后多长时间可以参加科目二、科目三考试？</div>
                            </div>
                            <div class="aui-list-item-text question_more">
                                科目一合格起10天后可以预约科目二考试，30天后可以预约科目三考试。科目三合格后当日或次日可预约安全文明常识考试。
                            </div>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item aui-list-item-middle">
                    <div class="aui-media-list-item-inner">
                        <div class="aui-list-item-inner ">
                            <div class="aui-list-item-text question_title aui-list-item-arrow">
                                <div class="aui-list-item-title">7.初考没合格多长时间后可以补考？</div>
                            </div>
                            <div class="aui-list-item-text question_more">
                                科目一和安全文明次日可预约补考，科目二和科目三10天之后方可预约补考。
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div id="tab2" class="weui-tab__bd-item aui-list aui-media-list ">
                <li class="aui-list-item aui-list-item-middle">
                    <div class="aui -media-list-item-inner">
                        <div class="aui-list-item-inner aui-list-item-arrow">
                            <div class="aui-list-item-text question_title">
                                <div class="aui-list-item-title">1.学车过程中如何投诉维护自己的权益？</div>
                            </div>
                            <div class="aui-list-item-text question_more">
                                学员可以直接拨打优快学车客服中心电话：0371-55902879。
                            </div>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item aui-list-item-middle">
                    <div class="aui -media-list-item-inner">
                        <div class="aui-list-item-inner aui-list-item-arrow">
                            <div class="aui-list-item-text question_title">
                                <div class="aui-list-item-title">2.投诉后要等多久处理？</div>
                            </div>
                            <div class="aui-list-item-text question_more">
                                我们承诺24小时内处理并给你满意答复。
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </div>
</div>
<script src="/style/js/jquery-3.1.1.min.js"></script>
<script src="/style/js/jquery-weui.min.js"></script>
<script src="/style/js/fastclick.js"></script>
<script>
    $(function () {
        $('.question_title').click(function () {
            $(this).toggleClass("question_title_active");
            $(this).siblings(".question_more").slideToggle('fast');
        })
    })
</script>
</body>
</html>
