<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <% include headPublic %>
    <style>
        .share img{width: 100%;}
    </style>
</head>
<body id="share">
<!--&lt;!&ndash;-->
<!--<header class="aui-bar aui-bar-nav">-->
    <!--<a class="aui-pull-left aui-btn " href="javascript:history.back();">-->
        <!--<span class="aui-iconfont aui-icon-left"></span>-->
    <!--</a>-->
    <!--<div class="aui-title">-->
        <!--<a href=""><%=title%></a>-->
    <!--</div>-->
<!--</header>-->
<!--&ndash;&gt;-->

<% include head %>
    <div class="share">
        <div class="aui-content aui-margin-b-0 aui-margin-t-    0">
            <div class="" style="overflow: hidden;">
                <img src="images/include/share_j6.png" alt="">
            </div>
            <div class="aui-margin-t-15 aui-padded-l-15 aui-padded-r-15" style="overflow: hidden;">
                <img src="images/include/share_j2.png" alt="">
            </div>
            <div class="aui-margin-t-15" style="overflow: hidden;">
                <img src="images/include/share_j3.png" alt="">
            </div>
            <br>
            <div class="erweimabox aui-text-center" style="overflow: hidden;">
            <span class="aui-col-xs-6 erweima">
                <img src="images/include/app.png" alt="" style="width: 70%">
                <p style="color: #fff;" class="aui-margin-t-5 aui-font-size-14">扫码下载优快APP<br>免费开通专家课程</p>
            </span>
                <span class="aui-col-xs-6 erweima">
                <img src="images/include/wenxin_ma.jpg" alt="" style="width:70%">
                <p style="color: #fff;" class="aui-margin-t-5 aui-font-size-14">关注公众微信号<br>精彩大礼等你拿</p>
            </span>
            </div>
        </div>
    </div>
<% include footPublic %>
</body>
</html>
