<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include headPublic %>
    <style>
        /*   .aui-list .aui-list-item-media{width: 4rem;}
           .choose-show{top: 2.2rem;}*/
        .aui-list-item {
            border-bottom: 1px solid #f4f4f4;
        }

        .shoucang .aui-list {
        }

        .shoucang .aui-list .aui-list-item-media {
            width: 2.5rem;
        }
    </style>
</head>
<body class="shoucang" style="background: #FFFfff">
<header class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn " href="javascript:history.back();">
        <span class="aui-iconfont aui-icon-left"></span>
    </a>
    <div class="aui-title ">
        收藏
    </div>
</header>
<div class="aui-content" style="padding-top: 2.5rem;padding-bottom: 2.5rem;">
    <ul class="aui-list aui-media-list commit_list">
        <li class="aui-list-item">
            <div class="aui-media-list-item-inner">
                <a href="/usercomit" class="aui-list-item-media">
                    <img src="images/liulangnan.png" class="aui-img-round" style="width:1.5rem">
                </a>
                <div class="aui-list-item-inner">
                    <a href="/htxq">
                        <div class="aui-list-item-header">
                            <div class="aui-card-list-title"><a href="/htxq">路人甲
                                </a><a href="#"><font class="iconfont" color="#d4237a"></font></a>
                                <a href="#"><font class="iconfont" color="#1296db"></font></a>
                                <a href="#"><font class="iconfont" color="#03a9f4"></font></a>
                            </div>
                        </div>
                        <p>54分钟前&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;来自 郑州市</p>
                        <div class="aui-row aui-row-padded  aui-margin-t-5" style="margin-left: 0;">
                            <h4>科目三已过，电脑显示我没考</h4>
                            <div class="label_con overflow_text">
                                <p>明天就要考科目三了，我是特意来许愿的老天、大神、典典都保佑吧保佑我这次能顺利过关，我在这里提前先谢谢各路大神了，拜托</p>
                            </div>
                            <div class="gallery">
                                <div class="aui-col-xs-4">
                                    <img class="lazy"
                                         data-original="http://cheyouquan.image.mucang.cn/saturn-image/2017/05/31/17/dace7025d0bc473a8a25452704b0dbef.jpeg!list.3"
                                         src="http://cheyouquan.image.mucang.cn/saturn-image/2017/05/31/17/dace7025d0bc473a8a25452704b0dbef.jpeg!list.3"
                                         style="">
                                </div>
                                <div class="aui-col-xs-4">
                                    <img class="lazy"
                                         data-original="http://cheyouquan.image.mucang.cn/saturn-image/2017/05/31/17/26c04728bfac497ea38210fa732d0f99.jpeg!list.3"
                                         src="http://cheyouquan.image.mucang.cn/saturn-image/2017/05/31/17/26c04728bfac497ea38210fa732d0f99.jpeg!list.3"
                                         style="">
                                </div>
                                <div class="aui-col-xs-4">
                                    <img class="lazy"
                                         data-original="http://cheyouquan.image.mucang.cn/saturn-image/2017/05/31/17/e99fbb64b3b34924b185478fdcc1edca.jpeg!list.3"
                                         src="http://cheyouquan.image.mucang.cn/saturn-image/2017/05/31/17/e99fbb64b3b34924b185478fdcc1edca.jpeg!list.3"
                                         style="">
                                </div>
                                <div class="aui-col-xs-4">
                                    <img class="lazy"
                                         data-original="http://cheyouquan.image.mucang.cn/saturn-image/2017/05/31/17/e99fbb64b3b34924b185478fdcc1edca.jpeg!list.3"
                                         src="http://cheyouquan.image.mucang.cn/saturn-image/2017/05/31/17/e99fbb64b3b34924b185478fdcc1edca.jpeg!list.3"
                                         style="">
                                </div>
                            </div>
                        </div>
                        <div class="topiclabel aui-margin-t-5 swiper-container-horizontal swiper-container-free-mode">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide swiper-slide-active"><a href="###">科目三</a></div>
                                <div class="swiper-slide swiper-slide-next"><a href="###">郑州市</a></div>
                                <div class="swiper-slide"><a href="###">啊</a></div>
                                <div class="swiper-slide"><a href="###">科三经验分享</a></div>
                                <div class="swiper-slide"><a href="###">郑州市</a></div>
                                <div class="swiper-slide"><a href="###">播种驾校</a></div>
                            </div>
                        </div>
                        <div class="aui-info aui-margin-t-5" style="padding:0">
                            <div class="aui-info-item"></div>
                            <div class="aui-info-item">
                                <span class="iconfont"> 1</span>
                                <span class="iconfont aui-margin-l-10"> 1</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-media-list-item-inner">
                <a href="/usercomit" class="aui-list-item-media">
                    <img src="images/liulangnan.png" class="aui-img-round" style="width:1.5rem">
                </a>
                <a href="/htxq">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-header">
                            <div class="aui-card-list-title"><a href="/htxq">厉害了啊
                                </a><a href="#"><font class="iconfont" color="#d4237a"></font></a>
                                <a href="#"><font class="iconfont" color="#1296db"></font></a>
                                <a href="#"><font class="iconfont" color="#03a9f4"></font></a>
                            </div>
                        </div>
                        <p>54分钟前&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;来自 郑州市</p>
                        <div href="" class="aui-row aui-row-padded  aui-margin-t-5" style="margin-left: 0;">
                            <h4>科目三已过，电脑显示我没考</h4>
                            <div class="label_con overflow_text">
                                <p>明天就要考科目三了，我是特意来许愿的老天、大神、典典都保佑吧保佑我这次能顺利过关，我在这里提前先谢谢各路大神了，拜托</p>
                            </div>
                            <div class="gallery">
                                <div class="aui-col-xs-4">
                                    <img class="lazy"
                                         data-original="http://cheyouquan.image.mucang.cn/saturn-image/2017/05/31/17/dace7025d0bc473a8a25452704b0dbef.jpeg!list.3"
                                         src="http://cheyouquan.image.mucang.cn/saturn-image/2017/05/31/17/dace7025d0bc473a8a25452704b0dbef.jpeg!list.3"
                                         style="">
                                </div>
                                <div class="aui-col-xs-4">
                                    <img class="lazy"
                                         data-original="http://cheyouquan.image.mucang.cn/saturn-image/2017/05/31/17/26c04728bfac497ea38210fa732d0f99.jpeg!list.3"
                                         src="http://cheyouquan.image.mucang.cn/saturn-image/2017/05/31/17/26c04728bfac497ea38210fa732d0f99.jpeg!list.3"
                                         style="">
                                </div>
                                <div class="aui-col-xs-4">
                                    <img class="lazy"
                                         data-original="http://cheyouquan.image.mucang.cn/saturn-image/2017/05/31/17/e99fbb64b3b34924b185478fdcc1edca.jpeg!list.3"
                                         src="http://cheyouquan.image.mucang.cn/saturn-image/2017/05/31/17/e99fbb64b3b34924b185478fdcc1edca.jpeg!list.3"
                                         style="">
                                </div>
                                <div class="aui-col-xs-4">
                                    <img class="lazy"
                                         data-original="http://cheyouquan.image.mucang.cn/saturn-image/2017/05/31/17/e99fbb64b3b34924b185478fdcc1edca.jpeg!list.3"
                                         src="http://cheyouquan.image.mucang.cn/saturn-image/2017/05/31/17/e99fbb64b3b34924b185478fdcc1edca.jpeg!list.3"
                                         style="">
                                </div>
                                <div class="aui-col-xs-4">
                                    <img class="lazy"
                                         data-original="http://cheyouquan.image.mucang.cn/saturn-image/2017/05/31/17/dace7025d0bc473a8a25452704b0dbef.jpeg!list.3"
                                         src="http://cheyouquan.image.mucang.cn/saturn-image/2017/05/31/17/dace7025d0bc473a8a25452704b0dbef.jpeg!list.3"
                                         style="">
                                </div>
                            </div>
                        </div>
                        <div class="topiclabel aui-margin-t-5 swiper-container-horizontal swiper-container-free-mode">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide swiper-slide-active"><a href="###">科目三</a></div>
                                <div class="swiper-slide swiper-slide-next"><a href="###">郑州市</a></div>
                                <div class="swiper-slide"><a href="###">啊</a></div>
                                <div class="swiper-slide"><a href="###">科三经验分享</a></div>
                                <div class="swiper-slide"><a href="###">郑州市</a></div>
                                <div class="swiper-slide"><a href="###">播种驾校</a></div>
                            </div>
                        </div>
                        <div class="aui-info aui-margin-t-5" style="padding:0">
                            <div class="aui-info-item"></div>
                            <div class="aui-info-item">
                                <span class="iconfont"> 1</span>
                                <span class="iconfont aui-margin-l-10"> 1</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-media-list-item-inner">
                <a href="/usercomit" class="aui-list-item-media">
                    <img src="images/liulangnan.png" class="aui-img-round" style="width:1.5rem">
                </a>
                <div class="aui-list-item-inner">
                    <a href="/htxq">
                    </a>
                    <div class="aui-list-item-header"><a href="/htxq">
                        </a>
                        <div class="aui-card-list-title"><a href="/htxq">路人甲
                            </a><a href="#"><font class="iconfont" color="#d4237a"></font></a>
                            <a href="#"><font class="iconfont" color="#1296db"></font></a>
                            <a href="#"><font class="iconfont" color="#03a9f4"></font></a>
                        </div>
                    </div>
                    <p>54分钟前&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;来自 郑州市</p>
                    <div href="" class="aui-row aui-row-padded  aui-margin-t-5" style="margin-left: 0;">
                        <h4>科目三已过，电脑显示我没考</h4>
                        <div class="label_con overflow_text">
                            <p>明天就要考科目三了，我是特意来许愿的老天、大神、典典都保佑吧保佑我这次能顺利过关，我在这里提前先谢谢各路大神了，拜托</p>
                        </div>
                        <div class="gallery">
                            <div class="aui-col-xs-4">
                                <img class="lazy"
                                     data-original="http://cheyouquan.image.mucang.cn/saturn-image/2017/05/31/17/dace7025d0bc473a8a25452704b0dbef.jpeg!list.3"
                                     src="http://cheyouquan.image.mucang.cn/saturn-image/2017/05/31/17/dace7025d0bc473a8a25452704b0dbef.jpeg!list.3"
                                     style="">
                            </div>
                            <div class="aui-col-xs-4">
                                <img class="lazy"
                                     data-original="http://cheyouquan.image.mucang.cn/saturn-image/2017/05/31/17/26c04728bfac497ea38210fa732d0f99.jpeg!list.3"
                                     src="http://cheyouquan.image.mucang.cn/saturn-image/2017/05/31/17/26c04728bfac497ea38210fa732d0f99.jpeg!list.3"
                                     style="">
                            </div>
                            <div class="aui-col-xs-4">
                                <img class="lazy"
                                     data-original="http://cheyouquan.image.mucang.cn/saturn-image/2017/05/31/17/26c04728bfac497ea38210fa732d0f99.jpeg!list.3"
                                     src="http://cheyouquan.image.mucang.cn/saturn-image/2017/05/31/17/26c04728bfac497ea38210fa732d0f99.jpeg!list.3"
                                     style="">
                            </div>
                            <div class="aui-col-xs-4">
                                <img class="lazy"
                                     data-original="http://cheyouquan.image.mucang.cn/saturn-image/2017/05/31/17/e99fbb64b3b34924b185478fdcc1edca.jpeg!list.3"
                                     src="http://cheyouquan.image.mucang.cn/saturn-image/2017/05/31/17/e99fbb64b3b34924b185478fdcc1edca.jpeg!list.3"
                                     style="">
                            </div>
                        </div>
                    </div>

                    <div class="topiclabel aui-margin-t-5 swiper-container-horizontal swiper-container-free-mode">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide swiper-slide-active"><a href="###">科目三</a></div>
                            <div class="swiper-slide swiper-slide-next"><a href="###">郑州市</a></div>
                            <div class="swiper-slide"><a href="###">啊</a></div>
                            <div class="swiper-slide"><a href="###">科三经验分享</a></div>
                            <div class="swiper-slide"><a href="###">郑州市</a></div>
                            <div class="swiper-slide"><a href="###">播种驾校</a></div>
                        </div>
                    </div>
                    <div class="aui-info aui-margin-t-5" style="padding:0">
                        <div class="aui-info-item"></div>
                        <div class="aui-info-item">
                            <span class="iconfont"> 1</span>
                            <span class="iconfont aui-margin-l-10"> 1</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <ul class="aui-list aui-media-list">
        <li class="aui-list-item aui-margin-t-10 aui-list-item-inner">
            <div class="aui-font-size-14 aui-text-center">没有更多消息了~</div>
        </li>
    </ul>
</div>

<div class="shadow"></div>
<% include footPublic %>
</body>
<script src="/javascripts/picture_browser.js"></script>
<!--图片浏览器-->
<script>
    $(function () {
        $Picture_browser(".gallery .aui-col-xs-4");
        var swiper_topiclabel = new Swiper('.topiclabel', {
            freeMode: true,
            freeModeMomentumRatio: 0.5,
            slidesPerView: 'auto'
        });
    })
</script>
</html>
