<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <% include headPublic %>
</head>
<body>
<header class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn " href="javascript:history.back();">
        <span class="aui-iconfont aui-icon-left"></span>
    </a>
    <div class="aui-title">
        <a href=""><%=title%></a>
    </div>
</header>
<div class="aui-content">
    <form class="aui-list aui-form-list" id="sign" method="get" action="">
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont aui-icon-mobile"></i>
                </div>
                <div class="aui-list-item-input">
                    <input type="text" id="sjhm" placeholder="手机号码" value="13343845617">
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont aui-icon-lock"></i>
                </div>
                <div class="aui-list-item-input">
                    <input type="text" id="mm" placeholder="密码（最少6个字符）" value="123456">
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont aui-icon-lock"></i>
                </div>
                <div class="aui-list-item-input">
                    <input id="sum" type="password" placeholder="验证码">
                </div>
                <div class="aui-list-item-label-icon aui-font-size-12 aui-border-l aui-padded-l-10" style="width: 5.5rem;">
                    <a href="javascript:;" class="aui-text-info" onclick="code()">获取验证码</a>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont aui-icon-lock"></i>
                </div>
                <div class="aui-list-item-input">
                    <input type="password" placeholder="邀请码（选填）">
                </div>
            </div>
        </li>
        <div class="aui-content-padded">
            <input type="button" value="注册" class="aui-btn aui-btn-info aui-btn-block submits"></input>
        </div>
    </form>
</div>
<% include footPublic %>
</body>
<script>
    var i=0;
    $(function () {
        $('.submits').click(function () {
//            alert("submit")
            if (!(/^1[3|4|5|8][0-9]\d{4,8}$/.test($("#sjhm").val()))) {
                alert("请输入正确的手机号码！");
                $("#sjhm").focus();
            }else if (!(/[0-9 | A-Z | a-z]{6,16}$/.test($("#mm").val()))){
                alert("密码格式：由6-16个数字字符组成！");
                $("#mm").focus();
            }else if (i==0){
                alert("请先获取验证码");
                $("#sum").focus();
            }else if ($("#sum").val().length != 4){
                alert("请输入正确的验证码！！");
            }else {
                $("form").submit(function () {
                    alert("aaa");
                });
            }
        })
    })
    function code() {
        i=1;
    }
</script>
</html>
