<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <% include headPublic %>
</head>
<body>
<header class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn " href="javascript:history.back();">
        <span class="aui-iconfont aui-icon-left"></span>
    </a>
    <div class="aui-title">
        <a href=""><%=title%></a>
    </div>
</header>
<div class="aui-content">
    <div class="aui-card-list">
        <div class="aui-card-list-footer aui-border-b">
            2017-04-04 20:00:00
        </div>
        <div class="aui-card-list-content-padded">
            体检通知体检通知体检通知体检通知体检通知体检通知体检通知体检通知体检通知体检通知体检通知体检通知体检通知体检通知体检通知体检通知体检通知体检通知体检通知
        </div>
    </div>
</div>
<div class="aui-bar aui-bar-tab">
    <a href="tel:13888888888" class="aui-bar-tab-item aui-bg-primary aui-text-white">同意</a>
    <a href="/pjjl" class="aui-bar-tab-item">取消</a>
</div>
</body>
</html>
