<!DOCTYPE html>
<html style="height: 100%;width: 100%">
<head>
    <title><%=title%></title>
    <% include headPublic %>
    <style>
        .aui-list .aui-list-item-media{width: 4rem;}
        .choose-show{top: 2.2rem;}
    </style>
</head>
<body>
<header class="aui-bar aui-bar-nav aui-bar-light">
    <a class="aui-pull-left aui-btn " href="javascript:history.back();">
        <span class="aui-iconfont aui-icon-left"></span>
    </a>
    <div class="aui-title open-popup">
        全部 <font class="iconfont">&#xe602;</font>
    </div>
</header>
<div class="aui-content" style="padding-bottom:0.5rem;">
    <div class="aui-list aui-media-list aui-margin-t-10">
        <div class="aui-list-item aui-list-item-arrow">
            <a href="/jxxq">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-text ">
                        <div class="aui-list-item-title">优快学车总部</div>
                        <div class="aui-list-item-right"><font color="#999">夜班</font></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="aui-list-item">
            <a href="/ycxq">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media">
                        <img src="images/include/1.png">
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-title aui-font-size-16">路人甲 <font color="#03a9f4" class="iconfont"></font></div>
                        <div class="aui-info" style="padding:0">
                            <div><div class="aui-label aui-label-info aui-label-outlined">C1</div>&nbsp;&nbsp;奇瑞&nbsp;&nbsp;豫PC12138</div><font class="aui-text-danger">传统培训</font>
                        </div>
                        <div class="aui-info" style="padding:0">
                            2017-04-28 12:00-14:00
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-text">
                    <div class="aui-list-item-title aui-text-warning">没参加培训，教练设置未到场</div>
                </div>
            </div>
        </div>
        <div class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-text">
                    <div class="aui-list-item-title"></div>
                    <div>
                        <div href="/pjjl" class="aui-list-item-right aui-btn aui-btn-outlined aui-btn-info">评价教练</div>
                        <div class="aui-list-item-right aui-btn aui-btn-outlined aui-btn-info">再次约车</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="aui-list aui-media-list aui-margin-t-10">
        <div class="aui-list-item aui-list-item-arrow">
            <a href="/jxxq">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-text ">
                        <div class="aui-list-item-title">优快学车总部</div>
                        <div class="aui-list-item-right"><font color="#999">夜班</font></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="aui-list-item">
            <a href="/ycxq">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media">
                        <img src="images/include/1.png">
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-title aui-font-size-16">路人甲 <font color="#03a9f4" class="iconfont"></font></div>
                        <div class="aui-info" style="padding:0">
                            <div><div class="aui-label aui-label-info aui-label-outlined">C1</div>&nbsp;&nbsp;奇瑞&nbsp;&nbsp;豫PC12138</div><font class="aui-text-danger">传统培训</font>
                        </div>
                        <div class="aui-info" style="padding:0">
                            2017-04-28 12:00-14:00
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-text">
                    <div class="aui-list-item-title aui-text-warning">没参加培训，教练设置未到场</div>
                </div>
            </div>
        </div>
        <div class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-text">
                    <div class="aui-list-item-title"></div>
                    <div>
                        <a href="/pjjl" class="aui-list-item-right aui-btn aui-btn-outlined aui-btn-info">评价教练</a>
                        <div class="aui-list-item-right aui-btn aui-btn-outlined aui-btn-info">再次约车</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="aui-list aui-media-list aui-margin-t-10">
        <div class="aui-list-item aui-list-item-arrow">
            <a href="/jxxq">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-text ">
                        <div class="aui-list-item-title">优快学车总部</div>
                        <div class="aui-list-item-right"><font color="#999">夜班</font></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="aui-list-item">
            <a href="/ycxq">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media">
                        <img src="images/include/1.png">
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-title aui-font-size-16">路人甲 <font color="#03a9f4" class="iconfont"></font></div>
                        <div class="aui-info" style="padding:0">
                            <div><div class="aui-label aui-label-info aui-label-outlined">C1</div>&nbsp;&nbsp;奇瑞&nbsp;&nbsp;豫PC12138</div><font class="aui-text-danger">传统培训</font>
                        </div>
                        <div class="aui-info" style="padding:0">
                            2017-04-28 12:00-14:00
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-text">
                    <div class="aui-list-item-title aui-text-warning">没参加培训，教练设置未到场</div>
                </div>
            </div>
        </div>
        <div class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-text">
                    <div class="aui-list-item-title"></div>
                    <div>
                        <a href="/pjjl" class="aui-list-item-right aui-btn aui-btn-outlined aui-btn-info">评价教练</a>
                        <div class="aui-list-item-right aui-btn aui-btn-outlined aui-btn-info">再次约车</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="choose choose-text shaixuan">

    <div class="aui-margin-l-10 aui-margin-r-10">
        <div class="aui-margin-b-5 aui-margin-t-5">驾照类型</div>
        <span class="aui-btn aui-btn-outlined">科目二</span>
        <span class="aui-btn aui-btn-outlined">科目三</span>
        <div class="aui-margin-b-5 aui-margin-t-5">筛选条件</div>
        <span class="aui-btn aui-btn-outlined aui-margin-b-10">全部</span>
        <span class="aui-btn aui-btn-outlined aui-margin-b-10">取消/退约</span>
        <span class="aui-btn aui-btn-outlined aui-margin-b-10">待培训</span>
        <span class="aui-btn aui-btn-outlined aui-margin-b-10">待评价</span>
        <span class="aui-btn aui-btn-outlined aui-margin-b-10">未点评</span>
        <span class="aui-btn aui-btn-outlined aui-margin-b-10">已点评</span>
        <span class="aui-btn aui-btn-outlined aui-margin-b-10">计时培训</span>
        <span class="aui-btn aui-btn-outlined aui-margin-b-10">传统培训</span>
    </div>
</div>
<div class="shadow"></div>
</body>
<script>
    $(function () {
        $(".open-popup").click(function () {
            $(".shaixuan").toggleClass('choose-show');
            $(".shadow").fadeToggle();
        })
        $(".shadow").click(function () {
            $(".shaixuan").toggleClass('choose-show');
            $(".shadow").fadeToggle();
        })
    })
</script>
</html>
