<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <% include headPublic %>
</head>
<body>
<header class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn " href="javascript:history.back();">
        <span class="aui-iconfont aui-icon-left"></span>
    </a>
    <div class="aui-title">
        <a href=""><%=title%></a>
    </div>
</header>
<div class="aui-content">
    <div class="aui-bg-info contro">
        <div class="aui-content-padded aui-padded-t-15 aui-padded-b-15 aui-margin-t-0">
            <div class="aui-text-center">
                <div class="h4">累计收益（元）</div>
                <div class="h2">￥0</div>
            </div>
            <div class="aui-row aui-margin-t-15">
                <div class="aui-col-xs-6">余额（元）：￥0 提现</div>
                <div class="aui-col-xs-6 aui-text-right">推荐人:优快学车</div>
            </div>
        </div>
    </div>
    <div>
        <div class="aui-card-list">
            <div class="aui-card-list-header">
                我的推广
            </div>
            <div class="aui-card-list-content-padded aui-border-b aui-border-t">
                <div class="aui-row aui-row-padded aui-text-center">
                    <a href="###" class="aui-col-xs-4 aui-border-r">
                        <p class="iconfont aui-font-size-20">&#xe615;</p>
                        我的邀请码
                    </a>
                    <a href="/wdyj" class="aui-col-xs-4 aui-border-r">
                        <p class="iconfont aui-font-size-20">&#xe616;</p>
                        我的业绩
                    </a>
                    <a href="###" class="aui-col-xs-4">
                        <p class="iconfont aui-font-size-20">&#xe617;</p>
                        我的收益
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<% include footPublic %>
</body>
</html>
