<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <% include headPublic %>
    <link rel="stylesheet" href="/stylesheets/ukresponse.css">
</head>
<body id="xclc">
<header class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn " href="javascript:history.back();">
        <span class="aui-iconfont aui-icon-left"></span>
    </a>
    <div class="aui-title">
        <a href=""><%=title%></a>
    </div>
</header>
<div class="photo aui-content">
        <div class="even">
            <div class="aui-content-padded">
                <div class="aui-col-xs-8">
                    <div class="xclc-title">
                        <div class="h1">ONE</div>
                        <div class="h2">照相体检</div>
                        <a href="" target="_blank"></a>
                    </div>
                    <div class="xclc-word h3">
                        <div>
                            <img src=" images/include/xclc-word-icon.png" alt="">
                        </div>
                        <p>等候体检通知，到指定地方照相体检</p>
                    </div>
                </div>
                <div class="aui-col-xs-4 aui-margin-t-15">
                    <img src=" images/include/xclc-img.png" alt="流程1:照相体检">
                </div>
            </div>
        </div>
        <div class="odd">
            <div class="aui-content-padded">
                <div class="aui-col-xs-4 aui-margin-t-15">
                    <img src=" images/include/xclc-img1.png" alt="流程1:受理">
                </div>
                <div class="aui-col-xs-8">
                    <div class="xclc-title aui-text-right">
                        <div class="h1">TWO</div>
                        <div class="h2">受理</div>
                    </div>
                    <div class="xclc-word h3 aui-text-right">
                        <p>驾校将个人申请的驾考信息提交车管所进行驾考业务受理</p>
                        <div>
                            <img src=" images/include/xclc-word-icon.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="even">
            <div class="aui-content-padded">
                <div class="aui-col-xs-8">
                    <div class="xclc-title">
                        <div class="h1">THREE</div>
                        <div class="h2">面签</div>
                    </div>
                    <div class="xclc-word h3">
                        <div>
                            <img src=" images/include/xclc-word-icon.png" alt="">
                        </div>
                        <p>开通交通安全综合服务管理平台账号，实现自主约考</p>
                    </div>
                </div>
                <div class="aui-col-xs-4 aui-margin-t-15">
                    <img src=" images/include/xclc-img2.png" alt="流程3：面签">
                </div>
            </div>
        </div>
        <div class="odd">
            <div class="aui-content-padded">
                <div class="aui-col-xs-4 aui-margin-t-15">
                    <img src=" images/include/xclc-img3.png" alt="流程4：科目一理论考试">
                </div>
                <div class="aui-col-xs-8">
                    <div class="xclc-title aui-text-right">
                        <div class="h1">FOUR</div>
                        <div class="h2">科目一理论</div>
                    </div>
                    <div class="xclc-word h3 aui-text-right">
                        <p>考核道路交通安全法律法规、交通信号等基本常识</p>
                        <div>
                            <img src=" images/include/xclc-word-icon.png" alt="">
                        </div>
                    </div>
                    <div class="xclc-word h3 aui-text-right">
                        <p>可以通过优快学车进行在线练习和模拟考试</p>
                        <div>
                            <img src=" images/include/xclc-word-icon.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="even">
            <div class="aui-content-padded">
                <div class="aui-col-xs-8">
                    <div class="xclc-title">
                        <div class="h1">FIVE</div>
                        <div class="h2">科目二场地技能考试</div>
                    </div>
                    <div class="xclc-word h3">
                        <div>
                            <img src=" images/include/xclc-word-icon.png" alt="">
                        </div>
                        <p>倒车入库、坡道起步和定点停车、侧方停车、曲线行驶、直转弯角</p>
                    </div>
                    <div class="xclc-word h3">
                        <div>
                            <img src=" images/include/xclc-word-icon.png" alt="">
                        </div>
                        <p>优快学车提供科二教学视频，可在线观看</p>
                    </div>
                </div>
                <div class="aui-col-xs-4 aui-margin-t-15">
                    <img src=" images/include/xclc-img4.png" alt="流程5：科目二场地技能考试">
                </div>
            </div>
        </div>
        <div class="odd">
            <div class="aui-content-padded">
                <div class="aui-col-xs-4 aui-margin-t-15">
                    <img src=" images/include/xclc-img5.png" alt="流程6：科目三道路技能驾驶考试">
                </div>
                <div class="aui-col-xs-8">
                    <div class="xclc-title aui-text-right">
                        <div class="h1">SIX</div>
                        <div class="h2">科目三道路技能驾驶考试</div>
                    </div>
                    <div class="xclc-word h3 aui-text-right">
                        <p>主要包括道路驾驶技能</p>
                        <div>
                            <img src=" images/include/xclc-word-icon.png" alt="">
                        </div>
                    </div>
                    <div class="xclc-word h3 aui-text-right">
                        <p>优快学车提供科三教学视频，可在线观看</p>
                        <div>
                            <img src=" images/include/xclc-word-icon.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="even">
            <div class="aui-content-padded">
                <div class="aui-col-xs-8">
                    <div class="xclc-title">
                        <div class="h1">SEVEN</div>
                        <div class="h2">科目四安全文明常识</div>
                    </div>
                    <div class="xclc-word h3">
                        <div>
                            <img src=" images/include/xclc-word-icon.png" alt="">
                        </div>
                        <p>考核安全文明驾驶常识考试</p>
                    </div>
                    <div class="xclc-word h3">
                        <div>
                            <img src=" images/include/xclc-word-icon.png" alt="">
                        </div>
                        <p>可以通过优快学车进行在线练习和模拟考试</p>
                    </div>
                </div>
                <div class="aui-col-xs-4 aui-margin-t-15">
                    <img src=" images/include/xclc-img3.png" alt="流程7科目四安全文明驾驶">
                </div>
            </div>
        </div>
        <div class="odd">
            <div class="aui-content-padded">
                <div class="aui-col-xs-4 aui-margin-t-15">
                    <img src=" images/include/xclc-img6.png" alt="流程8领驾照">
                </div>
                <div class="aui-col-xs-8">
                    <div class="xclc-title aui-text-right">
                        <div class="h1">EIGHT</div>
                        <div class="h2">领驾照，开心驾驶</div>
                    </div>
                    <div class="xclc-word h3 aui-text-right">
                        <p>推荐好友，为优快代言</p>
                        <div>
                            <img src=" images/include/xclc-word-icon.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
