<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <% include headPublic %>
    <style>
        .video_img{position: relative;}
        img{height:9rem;}
        .video_img .shado{position: absolute;width: 100%;height: 100%;left: 0;top: 0;background: rgba(0,0,0,.1)}
        .iconfont{color: #fff;font-size: 2rem;position: absolute;left: 50%;top: 50%;margin-left: -1rem;margin-top: -1rem;line-height: 1}
    </style>
</head>
<body>
<header class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn " href="javascript:history.back();">
        <span class="aui-iconfont aui-icon-left"></span>
    </a>
    <div class="aui-title">
        <a href=""><%=title%></a>
    </div>
</header>
<div class="aui-content">
    <div class="aui-card-list">
        <a href="">
            <div class="aui-card-list-header aui-card-list-user aui-border-b">

                <div class="aui-card-list-user-name">
                    <div>倒车入库</div>
                    <!--<small>1天前</small>-->
                </div>
            </div>
            <div class="aui-card-list-content-padded">
                <div class="video_img">
                    <img src="images/l1.png">
                    <div class="shado"></div>
                </div>
                <font class="iconfont">&#xe653;</font>
            </div>
        </a>
    </div>
    <div class="aui-card-list">
        <a href="">
            <div class="aui-card-list-header aui-card-list-user aui-border-b">

                <div class="aui-card-list-user-name">
                    <div>倒车入库</div>
                    <!--<small>1天前</small>-->
                </div>
            </div>
            <div class="aui-card-list-content-padded">
                <div class="video_img">
                    <img src="images/l1.png">
                    <div class="shado"></div>
                </div>
                <font class="iconfont">&#xe653;</font>
            </div>
        </a>
    </div>
    <div class="aui-card-list">
        <a href="">
            <div class="aui-card-list-header aui-card-list-user aui-border-b">

                <div class="aui-card-list-user-name">
                    <div>倒车入库</div>
                    <!--<small>1天前</small>-->
                </div>
            </div>
            <div class="aui-card-list-content-padded">
                <div class="video_img">
                    <img src="images/l1.png">
                    <div class="shado"></div>
                </div>
                <font class="iconfont">&#xe653;</font>
            </div>
        </a>
    </div>
    <div class="aui-card-list">
        <a href="">
            <div class="aui-card-list-header aui-card-list-user aui-border-b">

                <div class="aui-card-list-user-name">
                    <div>倒车入库</div>
                    <!--<small>1天前</small>-->
                </div>
            </div>
            <div class="aui-card-list-content-padded">
                <div class="video_img">
                    <img src="images/l1.png">
                    <div class="shado"></div>
                </div>
                <font class="iconfont">&#xe653;</font>
            </div>
        </a>
    </div>
</div>
<% include footPublic %>
</body>
</html>
