<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <% include headPublic %>
</head>
<body>
<header class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn " href="javascript:history.back();">
        <span class="aui-iconfont aui-icon-left"></span>
    </a>
    <div class="aui-title">
        <a href=""><%=title%></a>
    </div>
</header>
<div class="aui-content">
    <div class="aui-list aui-media-list aui-margin-t-10 dzf">
        <div class="aui-list-item">
            <div class="aui-media-list-item-inner">
                <div class="aui-list-item-media">
                    <a href="/jlxq">
                        <img src="images/include/1.png">
                    </a>
                </div>
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-title aui-font-size-16">路人甲 <small>男 31岁 教龄：3年</small></div>
                    <div class="aui-info" style="padding:0">
                        <div><div class="aui-label aui-label-info aui-label-outlined">C1</div>&nbsp;&nbsp;奇瑞&nbsp;&nbsp;科目二 豫PC12138</div><font class="aui-text-danger">传统培训</font>
                    </div>
                    <div class="aui-info" style="padding:0">
                        2017-04-28 12:00-14:00
                    </div>
                </div>
            </div>
        </div>
        <div class="aui-list-item aui-list-item-arrow">
            <a href="/jxxq">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-text ">
                        <div class="aui-list-item-title">优快学车总部</div>
                        <div class="aui-list-item-right"><font color="#999">夜班</font></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="aui-list-item aui-list-item-arrow">
            <a href="/jxxq">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-text ">
                        <div class="aui-list-item-title">文化路北环路</div>
                        <div class="aui-list-item-right"><font color="#999">625.35km</font></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="aui-list-item aui-text-center">
            <div class="aui-list-item-inner">
                <img src="images/include/char.png" alt="">
            </div>
        </div>
    </div>
    <div class="weui-form-preview__bd aui-margin-t-10">
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">约车编号：</label>
            <span class="weui-form-preview__value">123456789789789789</span>
        </div>
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">约车时间：</label>
            <span class="weui-form-preview__value">2017-04-25 20:25:20</span>
        </div>
    </div>
</div>
<div class="aui-bar aui-bar-tab">
    <a href="tel:13888888888" class="aui-bar-tab-item aui-bg-primary aui-text-white">立即拨打</a>
    <a href="/pjjl" class="aui-bar-tab-item aui-bg-warning aui-text-white">评价教练</a>
</div>
</body>
</html>
