<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <% include headPublic %>
    <link rel="stylesheet" href="/stylesheets/ukresponse.css">
</head>
<body id="service">
<div class="banner">

</div>
<div class="service">
    <div class="even">
        <div class="center">
            <div class="fl aboutuk_80">
                <h1><span><img src=" images/include/server_n1.png" alt=""></span><p>价格有保障</p></h1>
                <p>全程费用透明、底价学车、无低价陷阱、无隐性收费</p>
            </div>
            <div class="fr aboutuk_10">
                <img src=" images/include/service_floor1.png" alt="">
            </div>
        </div>
    </div>
    <div class="odd">
        <div class="center">
            <div class="fl aboutuk_10">
                <img src=" images/include/service_floor2.png" alt="">
            </div>
            <div class="fr aboutuk_80">
                <h1><p>优快顾问</p><span><img src=" images/include/server_n2.png" alt=""></span></h1>
                <p>专业全面解答学车疑问，全程1对1驾考顾问服务，帮你轻松解决所有学车问题</p>
            </div>
        </div>
    </div>

    <div class="even">
        <div class="center">
            <div class="fr aboutuk_10">
                <img src=" images/include/service_floor3.png" alt="">
            </div>
            <div class="fl aboutuk_80">
                <h1><span><img src=" images/include/server_n3.png" alt=""></span><p>即时提醒</p></h1>
                <p>优快学车即时提供驾校通知、考试通知、约考通知，随时掌握自己的驾考动态</p>
            </div>
        </div>
    </div>
    <div class="odd">
        <div class="center">
            <div class="fr aboutuk_80">
                <h1><p>可自主约车</p><span><img src=" images/include/server_n4.png" alt=""></span></h1>
                <p>随时随地自主约车，自由选择教练，告别传统练车难学车扎堆学车埋怨等问题</p>
            </div>
            <div class="fl aboutuk_10">
                <img src=" images/include/service_floor4.png" alt="">
            </div>
        </div>
    </div>
    <div class="even">
        <div class="center">
            <div class="fr aboutuk_10">
                <img src=" images/include/service_floor5.png" alt="">
            </div>
            <div class="fl aboutuk_80">
                <h1><span><img src=" images/include/server_n5.png" alt=""></span><p>学车有保障</p></h1>
                <p>优快学车全程协助驾考学员，郑重承诺，全力保障学员权益，杜绝投诉无门现象</p>
            </div>
        </div>
    </div>
    <div class="odd">
        <div class="center">
            <div class="fr aboutuk_80">
                <h1><p>计时培训</p><span><img src=" images/include/server_n6.png" alt=""></span></h1>
                <p>优快学车提供1对1或1对多等多种培训模式，自由选择练车时间可跨校区练车</p>
            </div>
            <div class="fl aboutuk_10">
                <img src=" images/include/service_floor6.png" alt="">
            </div>
        </div>
    </div>

    <div class="even">
        <div class="center">
            <div class="fl aboutuk_80">
                <h1><span><img src=" images/include/server_n7.png" alt=""></span><p>七天无理由退款</p></h1>
                <p>学员报名签定合同并付完全款7天内，无论出于任何原因均可无理由向驾校申请全额退款</p>
            </div>
            <div class="fr aboutuk_10">
                <img src=" images/include/service_floor8.png" alt="">
            </div>
        </div>
    </div>
    <div class="odd">
        <div class="center">
            <div class="fl aboutuk_10">
                <img src=" images/include/service_floor9.png" alt="">
            </div>
            <div class="fr aboutuk_80">
                <h1><p>限时维权</p><span><img src=" images/include/server_n8.png" alt=""></span></h1>
                <p>态度恶劣、吃拿卡要、拿证拖延等所有问题由平台免费担保，不满意随时投诉，优快学车24小时限时解决</p>
            </div>
        </div>
    </div>
</div>


</body>
</html>
