<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <% include headPublic %>
    <style>
        .aui-list .aui-list-item-media{width: 7rem;}
        button, .aui-btn{padding:0.1rem 0.25rem;color: #fff;font-size: 0.6rem;}
        .aui-info,.aui-list .aui-list-item-text{font-size: 0.6rem;}
        .aui-info *{vertical-align:bottom}
        .aui-border-l:before, .aui-border-r:after{z-index: 8;}
        #tab{position: fixed;z-index: 8;width: 100%;top:54px;}
        #tab_top{ padding-top: 4.9rem;}
    </style>
</head>
<body class="tabs3">
<% include head.ejs %>
<div class="aui-content" id="tab_top">
    <div class="aui-tab aui-border-b" id="tab">
        <div class="aui-tab-item aui-active recom aui-border-r">考务信息</div>
        <div class="aui-tab-item nearby aui-border-r">学车新闻</div>
        <div class="aui-tab-item sequenc aui-border-r">活动回顾</div>
        <div class="aui-tab-item screen">学车日记</div>
    </div>
    <ul class="aui-list aui-media-list ykkb">
        <li class="aui-list-item">
            <a href="/artical">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media">
                        <img src="images/include/ykkb.jpg">
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">限时抢购活动开始</div>
                        </div>
                        <div class="aui-list-item-text aui-ellipsis-2">
                            小伙伴们0元报名，免费学车，考完科目一满意再缴费，9月15至9月30日报名 鸿通驾校
                        </div>
                        <div class="aui-info aui-margin-t-5" style="padding:0">
                            <div class="aui-info-item"><i class="iconfont">&#xe61e;</i><span>2016-09-07</span></div>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="aui-list-item">
            <a href="/artical">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media">
                        <img src="images/include/ykkb.jpg">
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">限时抢购活动开始</div>
                        </div>
                        <div class="aui-list-item-text aui-ellipsis-2">
                            小伙伴们0元报名，免费学车，考完科目一满意再缴费，9月15至9月30日报名 鸿通驾校
                        </div>
                        <div class="aui-info aui-margin-t-5" style="padding:0">
                            <div class="aui-info-item"><i class="iconfont">&#xe61e;</i><span>2016-09-07</span></div>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="aui-list-item">
            <a href="/artical">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media">
                        <img src="images/include/ykkb.jpg">
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">限时抢购活动开始</div>
                        </div>
                        <div class="aui-list-item-text aui-ellipsis-2">
                            小伙伴们0元报名，免费学车，考完科目一满意再缴费，9月15至9月30日报名 鸿通驾校
                        </div>
                        <div class="aui-info aui-margin-t-5" style="padding:0">
                            <div class="aui-info-item"><i class="iconfont">&#xe61e;</i><span>2016-09-07</span></div>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="aui-list-item">
            <a href="/artical">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media">
                        <img src="images/include/ykkb.jpg">
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">限时抢购活动开始</div>
                        </div>
                        <div class="aui-list-item-text aui-ellipsis-2">
                            小伙伴们0元报名，免费学车，考完科目一满意再缴费，9月15至9月30日报名 鸿通驾校
                        </div>
                        <div class="aui-info aui-margin-t-5" style="padding:0">
                            <div class="aui-info-item"><i class="iconfont">&#xe61e;</i><span>2016-09-07</span></div>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="aui-list-item">
            <a href="/artical">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media">
                        <img src="images/include/ykkb.jpg">
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">限时抢购活动开始</div>
                        </div>
                        <div class="aui-list-item-text aui-ellipsis-2">
                            小伙伴们0元报名，免费学车，考完科目一满意再缴费，9月15至9月30日报名 鸿通驾校
                        </div>
                        <div class="aui-info aui-margin-t-5" style="padding:0">
                            <div class="aui-info-item"><i class="iconfont">&#xe61e;</i><span>2016-09-07</span></div>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="aui-list-item">
            <a href="/artical">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media">
                        <img src="images/include/ykkb.jpg">
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">限时抢购活动开始</div>
                        </div>
                        <div class="aui-list-item-text aui-ellipsis-2">
                            小伙伴们0元报名，免费学车，考完科目一满意再缴费，9月15至9月30日报名 鸿通驾校
                        </div>
                        <div class="aui-info aui-margin-t-5" style="padding:0">
                            <div class="aui-info-item"><i class="iconfont">&#xe61e;</i><span>2016-09-07</span></div>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="aui-list-item">
            <a href="/artical">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media">
                        <img src="images/include/ykkb.jpg">
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">限时抢购活动开始</div>
                        </div>
                        <div class="aui-list-item-text aui-ellipsis-2">
                            小伙伴们0元报名，免费学车，考完科目一满意再缴费，9月15至9月30日报名 鸿通驾校
                        </div>
                        <div class="aui-info aui-margin-t-5" style="padding:0">
                            <div class="aui-info-item"><i class="iconfont">&#xe61e;</i><span>2016-09-07</span></div>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="aui-list-item">
            <a href="/artical">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media">
                        <img src="images/include/ykkb.jpg">
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">限时抢购活动开始</div>
                        </div>
                        <div class="aui-list-item-text aui-ellipsis-2">
                            小伙伴们0元报名，免费学车，考完科目一满意再缴费，9月15至9月30日报名 鸿通驾校
                        </div>
                        <div class="aui-info aui-margin-t-5" style="padding:0">
                            <div class="aui-info-item"><i class="iconfont">&#xe61e;</i><span>2016-09-07</span></div>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="aui-list-item">
            <a href="/artical">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media">
                        <img src="images/include/ykkb.jpg">
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">限时抢购活动开始</div>
                        </div>
                        <div class="aui-list-item-text aui-ellipsis-2">
                            小伙伴们0元报名，免费学车，考完科目一满意再缴费，9月15至9月30日报名 鸿通驾校
                        </div>
                        <div class="aui-info aui-margin-t-5" style="padding:0">
                            <div class="aui-info-item"><i class="iconfont">&#xe61e;</i><span>2016-09-07</span></div>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="aui-list-item">
            <a href="/artical">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media">
                        <img src="images/include/ykkb.jpg">
                    </div>
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">限时抢购活动开始</div>
                        </div>
                        <div class="aui-list-item-text aui-ellipsis-2">
                            小伙伴们0元报名，免费学车，考完科目一满意再缴费，9月15至9月30日报名 鸿通驾校
                        </div>
                        <div class="aui-info aui-margin-t-5" style="padding:0">
                            <div class="aui-info-item"><i class="iconfont">&#xe61e;</i><span>2016-09-07</span></div>
                        </div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
    <div id="page" class="aui-text-center aui-margin-t-10"></div>
</div>
<% include footPublic %>
</body>
<script type="text/javascript">
    apiready = function(){
        api.parseTapmode();
    }
    var tab = new auiTab({
        element:document.getElementById("tab"),
        // callback:function(o,dom){
        //     console.log(o);
        // }
    },function(ret){
        console.log(ret)
    });
</script>
<script>
    $(".aui-list-item-text.aui-ellipsis-2").each(function(){
        var i=$(this).text().length;
        var length=55;
        if(i>length){
            $(this).text($(this).text().substr(0,length)+"...");
        }else {
            return;
        }
    })
</script>
<script>
    laypage({
        cont: 'page',
        pages: 18, //可以叫服务端把总页数放在某一个隐藏域，再获取。假设我们获取到的是18
        curr: function(){ //通过url获取当前页，也可以同上（pages）方式获取
            var page = location.search.match(/page=(\d+)/);
            return page ? page[1] : 1;
        }(),
        jump: function(e, first){ //触发分页后的回调
            if(!first){ //一定要加此判断，否则初始时会无限刷新
                location.href = '?page='+e.curr;
            }
        }
    });
</script>
</html>
