<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <% include headPublic %>
    <link rel="stylesheet" href="stylesheets/swiper-3.4.2.min.css">
</head>
<style>
    #tab .aui-tab-item{width: 120px;}
    /*#tab{overflow: hidden;width: 100%;}*/
    #tab .swiper-slide{width: 120px; padding: 0 .1rem;}
    .yueche{ margin-top: 2.7rem;}
    #footer { background-color: #fff;}
    #tabtime .active{ color: #039be5;  border-bottom: 2px solid #039be5;  z-index: 6;}
    .aui-icon-close{display: inline-block!important}
</style>
<body>
<header class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn " href="javascript:history.back();">
        <span class="aui-iconfont aui-icon-left"></span>
    </a>
    <div class="aui-title">
        <a href=""><%=title%></a>
    </div>
</header>
<div class="screening">
    <div class="aui-border-b" id="tab">
        <div class="swiper-wrapper aui-tab" id="tabtime">
            <div class="aui-tab-item recom active swiper-slide" onclick="">09月27日周日</div>
            <div class="aui-tab-item recom swiper-slide" onclick="">07月16日周日</div>
            <div class="aui-tab-item recom swiper-slide" onclick="">07月16日周日</div>
            <div class="aui-tab-item recom swiper-slide" onclick="">07月16日周日</div>
            <div class="aui-tab-item recom swiper-slide" onclick="">07月16日周日</div>
            <div class="aui-tab-item recom swiper-slide" onclick="">07月16日周日</div>
            <div class="aui-tab-item recom swiper-slide" onclick="">07月16日周日</div>
        </div>
    </div>
</div>
<div class="aui-content">
    <div class="aui-row yueche aui-text-center aui-padded-l-10" style="display: inline-block;">
        <div class="aui-col-xs-4 aui-margin-b-10">
            <div class="aui-col-xs-11 aui-border aui-bg-default aui-bg-none aui-padded-t-5 aui-padded-b-5">
                <p>08:00-09:00</p>
                <div class="aui-grid-label">科目二，准考</div>
                <p>时间已过</p>
            </div>
        </div>
        <div class="aui-col-xs-4 aui-margin-b-10">
            <div class="aui-col-xs-11 aui-border aui-bg-default aui-bg-none aui-padded-t-5 aui-padded-b-5">
                <p>08:00-09:00</p>
                <div class="aui-grid-label">科目二，准考</div>
                <p>时间已过</p>
            </div>
        </div>
        <div class="aui-col-xs-4 aui-margin-b-10">
            <div class="aui-col-xs-11 aui-border aui-bg-default aui-bg-none aui-padded-t-5 aui-padded-b-5">
                <p>08:00-09:00</p>
                <div class="aui-grid-label">科目二，准考</div>
                <p>传统培训,暂未分车</p>
            </div>
        </div>
        <div class="aui-col-xs-4 aui-margin-b-10">
            <div class="aui-col-xs-11 aui-border aui-bg-default aui-padded-t-5 aui-padded-b-5">
                <p>08:00-09:00</p>
                <div class="aui-grid-label">科目二，准考</div>
                <p>可约15人,已约7人</p>
            </div>
        </div>
        <div class="aui-col-xs-4 aui-margin-b-10">
            <div class="aui-col-xs-11 aui-border aui-bg-default aui-padded-t-5 aui-padded-b-5">
                <p>08:00-09:00</p>
                <div class="aui-grid-label">科目二，准考</div>
                <p>可约15人,已约14人</p>
            </div>
        </div>
        <div class="aui-col-xs-4 aui-margin-b-10">
            <div class="aui-col-xs-11 aui-border aui-bg-default aui-bg-none aui-padded-t-5 aui-padded-b-5">
                <p>08:00-09:00</p>
                <div class="aui-grid-label">科目二，准考</div>
                <p>时间已过</p>
            </div>
        </div>
        <div class="aui-col-xs-4 aui-margin-b-10">
            <div class="aui-col-xs-11 aui-border aui-bg-default aui-bg-none aui-padded-t-5 aui-padded-b-5">
                <p>08:00-09:00</p>
                <div class="aui-grid-label">科目二，准考</div>
                <p>时间已过</p>
            </div>
        </div>
        <div class="aui-col-xs-4 aui-margin-b-10">
            <div class="aui-col-xs-11 aui-border aui-bg-default aui-padded-t-5 aui-padded-b-5">
                <p>08:00-09:00</p>
                <div class="aui-grid-label">科目二，准考</div>
                <p>可约99人,已约99人</p>
            </div>
        </div>
        <div class="aui-col-xs-4 aui-margin-b-10">
            <div class="aui-col-xs-11 aui-border aui-bg-default aui-padded-t-5 aui-padded-b-5">
                <p>08:00-09:00</p>
                <div class="aui-grid-label">科目二，准考</div>
                <p>可约99人,已约99人</p>
            </div>
        </div>
        <div class="aui-col-xs-4 aui-margin-b-10">
            <div class="aui-col-xs-11 aui-border aui-bg-default aui-bg-none aui-padded-t-5 aui-padded-b-5">
                <p>08:00-09:00</p>
                <div class="aui-grid-label">科目二，准考</div>
                <p>时间已过</p>
            </div>
        </div>
        <div class="aui-col-xs-4 aui-margin-b-10">
            <div class="aui-col-xs-11 aui-border aui-bg-default aui-bg-none aui-padded-t-5 aui-padded-b-5">
                <p>08:00-09:00</p>
                <div class="aui-grid-label">科目二，准考</div>
                <p>时间已过</p>
            </div>
        </div>
        <div class="aui-col-xs-4 aui-margin-b-10">
            <div class="aui-col-xs-11 aui-border aui-bg-default aui-padded-t-5 aui-padded-b-5">
                <p>08:00-09:00</p>
                <div class="aui-grid-label">科目二，准考</div>
                <p>可约99人,已约99人</p>
            </div>
        </div>
        <div class="aui-col-xs-4 aui-margin-b-10">
            <div class="aui-col-xs-11 aui-border aui-bg-default aui-padded-t-5 aui-padded-b-5">
                <p>08:00-09:00</p>
                <div class="aui-grid-label">科目二，准考</div>
                <p>可约20人,已约10人</p>
            </div>
        </div>
        <div class="aui-col-xs-4 aui-margin-b-10">
            <div class="aui-col-xs-11 aui-border aui-bg-default aui-bg-none aui-padded-t-5 aui-padded-b-5">
                <p>08:00-09:00</p>
                <div class="aui-grid-label">科目二，准考</div>
                <p>时间已过</p>
            </div>
        </div>
        <div class="aui-col-xs-4 aui-margin-b-10">
            <div class="aui-col-xs-11 aui-border aui-bg-default aui-bg-none aui-padded-t-5 aui-padded-b-5">
                <p>08:00-09:00</p>
                <div class="aui-grid-label">科目二，准考</div>
                <p>时间已过</p>
            </div>
        </div>
        <div class="aui-col-xs-4 aui-margin-b-10">
            <div class="aui-col-xs-11 aui-border aui-bg-default aui-padded-t-5 aui-padded-b-5">
                <p>08:00-09:00</p>
                <div class="aui-grid-label">科目二，准考</div>
                <p>可约99人,已约99人</p>
            </div>
        </div>
        <div class="aui-col-xs-4 aui-margin-b-10">
            <div class="aui-col-xs-11 aui-border aui-bg-default aui-padded-t-5 aui-padded-b-5">
                <p>08:00-09:00</p>
                <div class="aui-grid-label">科目二，准考</div>
                <p>可约10人,已约0人</p>
            </div>
        </div>
        <div class="aui-col-xs-4 aui-margin-b-10">
            <div class="aui-col-xs-11 aui-border aui-bg-default aui-bg-none aui-padded-t-5 aui-padded-b-5">
                <p>08:00-09:00</p>
                <div class="aui-grid-label">科目二，准考</div>
                <p>时间已过</p>
            </div>
        </div>
        <div class="aui-col-xs-4 aui-margin-b-10">
            <div class="aui-col-xs-11 aui-border aui-bg-default aui-bg-none aui-padded-t-5 aui-padded-b-5">
                <p>08:00-09:00</p>
                <div class="aui-grid-label">科目二，准考</div>
                <p>时间已过</p>
            </div>
        </div>
        <div class="aui-col-xs-4 aui-margin-b-10">
            <div class="aui-col-xs-11 aui-border aui-bg-default aui-padded-t-5 aui-padded-b-5">
                <p>08:00-09:00</p>
                <div class="aui-grid-label">科目二，准考</div>
                <p>可约5人,已约5人</p>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="aui-tips aui-bg-warning" id="tips-1">
        <div class="aui-tips-title"><i class="aui-iconfont aui-icon-info aui-margin-r-5"></i>用户尚未登录，请登陆后约车</div>
        <i class="aui-iconfont aui-icon-close close_login"></i>
    </div>
    <p class="aui-font-size-14" style="padding: 10px;">请点击预约时间段，白色线框为可预约时间段，灰色选框为不可预约时间段，每天最多可预约
        <strong class="aui-text-danger"> 2 </strong>次
        <i class="aui-iconfont aui-icon-close close_prompt" style="float: right;"></i>
    </p>
    <div class="aui-bar">
        <div class="aui-bar-tab-item aui-col-xs-12">
            <a href="###" class="aui-btn aui-btn-info aui-btn-block lijiyueche">立即约车</a>
        </div>
    </div>
</div>
</body>

<script src="javascripts/Swiper-3.3.1.js"></script>

<script>
    $(function(){
        $(".lijiyueche").click(function(){
            var i=$(".yueche .aui-border-info").length;
           /* console.log(i);*/
            if(i==0){ //如果没有选择班型
               alert('你还没有选择时间',2000, 'warning');  //设置显示时间
            }else if(i>0 && i<=2){
                $.confirm({
                    title: '确认约车',
                    text: '亲，您的约车时间是：<div>2016-09-28  12:00-13:00</div><div>2016-09-28  12:00-13:00</div>请准时练车',
                    onOK: function () {
                        //点击确认
                        $.toast("<p style='color: #fff;'>约车成功</p>");
                    },
                    onCancel: function () {

                    }
                });
            }else {
                alert("每天最多可预约两次");
            }
        })
        $('.close_login').click(function (e) {
            $(this).parent().hide();
            e.stopPropagation();
        });
        $('.close_prompt').click(function (e) {
            $(this).parent().hide();
            e.stopPropagation();
        })
    })
</script>

<script>
    $(".yueche .aui-col-xs-4 .aui-border").click(function(){
        $(this).toggleClass("aui-border-info")
    })
</script>
<script type="text/javascript">
    //监听事件
    apiready = function(){
        api.parseTapmode();
    }
/*    var tab = new auiTab({
        element:document.getElementById("tabtime"),
    },function(ret){
        /!*console.log(ret);*!/
    });*/
</script>
<script>
    /*顶部滑动约车*/
    $(function () {
        var swiper_tab = new Swiper('#tab', {
            freeMode: true,
            freeModeMomentumRatio: 0.5,
            slidesPerView: 'auto'
        });
        swiperWidth = swiper_tab.container[0].clientWidth
        maxTranslate = swiper_tab.maxTranslate();
        maxWidth = -maxTranslate + swiperWidth / 2
        swiper_tab.on('tap', function (swiper, e) {
            e.preventDefault()
            slide = swiper.slides[swiper.clickedIndex]
            console.log(swiper.clickedIndex);
            slideLeft = slide.offsetLeft
            slideWidth = slide.clientWidth
            slideCenter = slideLeft + slideWidth / 2
            // 被点击slide的中心点
            swiper_tab.setWrapperTransition(300)
            //设置偏移量
            if (slideCenter < swiperWidth / 2) {
                swiper_tab.setWrapperTranslate(0)
            } else if (slideCenter > maxWidth) {
                swiper_tab.setWrapperTranslate(maxTranslate)
            } else {
                nowTlanslate = slideCenter - swiperWidth / 2
                swiper_tab.setWrapperTranslate(-nowTlanslate)
            }
            //添加样式
            $("#tabtime .active").removeClass('active')
            $("#tabtime .swiper-slide").eq(swiper.clickedIndex).addClass('active')
        })
    })
</script>
</html>
