<!DOCTYPE html>
<html style="height: 100%;">
<head>
    <title><%=title%></title>
    <% include headPublic %>
    <style>
        .n{width: 19px;height:19px;display: inline-block;background: #18b4ed;border-radius:3px;text-align: center;line-height: 19px;color: #fff;}
    </style>
</head>
<body>
<header class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn " href="javascript:history.back();">
        <span class="aui-iconfont aui-icon-left"></span>
    </a>
    <div class="aui-title">
        <%=title%>
    </div>
</header>
<div class="aui-content">
    <ul class="aui-list">
        <li class="aui-list-item">
            <div class="aui-list-item-inner aui-list-item-arrow">
                <div class="aui-list-item-title"><font class="n">1</font>&nbsp;道路交通安全法律、法规和规章&nbsp;<small><font color="#999">565</font></small></div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner aui-list-item-arrow">
                <div class="aui-list-item-title"><font class="n">2</font>&nbsp;交通信号&nbsp;<small><font color="#999">337</font></small></div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner aui-list-item-arrow">
                <div class="aui-list-item-title"><font class="n">3</font>&nbsp;安全行车、文明驾驶基础知识&nbsp;<small><font color="#999">284</font></small></div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner aui-list-item-arrow">
                <div class="aui-list-item-title"><font class="n">4</font>&nbsp;机动车驾驶操作相关基础知识&nbsp;<small><font color="#999">139</font></small></div>
            </div>
        </li>
    </ul>
</div>
</body>
</html>
