<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <% include headPublic %>
</head>
<body id="zxyh" class="tabs2">
<% include head.ejs %>
<div class="aui-content">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><a href="yhxq.html"><img src="images/hdsyjqth.png" alt=""></a></div>
            <div class="swiper-slide"><a href="yhxq.html"><img src="images/hdsytjpx.png" alt=""></a></div>
            <div class="swiper-slide"><a href="yhxq.html"><img src="images/hdsyvip.png" alt=""></a></div>
            <div class="swiper-slide"><a href="yhxq.html"><img src="images/hdsyxxhf.png" alt=""></a></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <ul class="zxyh aui-padded-l-10 aui-padded-r-10 aui-list aui-media-list">
        <li class="aui-list-item">
            <a href="/yhxq" class="aui-media-list-item-inner">
                <div class="aui-list-item-media">
                    <img src="http://files.ukxueche.com/activity/4101/20170607-2.png" alt="光大驾校率先开启“先学后付”引领学车新模式,郑州驾校最新优惠">
                </div>
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title">光大驾校率先开启“先学后付”引领学车新模式</div>
                    </div>
                    <div class="aui-list-item-text aui-font-size-12">
                        活动日期:03月18日~17日
                    </div>
                    <div class="aui-list-item-text aui-font-size-12">
                        咨询电话:0371-58508808</div>
                </div>
            </a>
            <div class="hdstate">
                <img src=" images/include/zxhdend-icon.png" alt="">s
            </div>
        </li>
        <li class="aui-list-item">
            <a href="/yhxq" class="aui-media-list-item-inner">
                <div class="aui-list-item-media">
                    <img src="http://files.ukxueche.com/activity/4101/20170607-2.png" alt="光大驾校率先开启“先学后付”引领学车新模式,郑州驾校最新优惠">
                </div>
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title">光大驾校率先开启“先学后付”引领学车新模式</div>
                    </div>
                    <div class="aui-list-item-text aui-font-size-12">
                        活动日期:03月18日~17日
                    </div>
                    <div class="aui-list-item-text aui-font-size-12">
                        咨询电话:0371-58508808</div>
                </div>
            </a>
            <div class="hdstate">
                <img src=" images/include/zxhding-icon.png" alt="">
            </div>
        </li>
    </ul>
</div>
<% include footPublic %>
</body>
<script>
    $(".swiper-container").swiper({
        loop: true,
        pagination : '.swiper-pagination',
        autoplay: 3000,
        autoplayDisableOnInteraction:false
    });
</script>
</html>
