<!DOCTYPE html>
<html style="height: 100%;">
<head>
    <title><%=title%></title>
    <% include headPublic %>
    <style>
        #xsqg button, .aui-btn{padding:0.3rem 0.78rem; margin: 2px;}
    </style>
</head>
<body>
<header class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn " href="javascript:history.back();">
        <span class="aui-iconfont aui-icon-left"></span>
    </a>
    <div class="aui-title">
        <%=title%>
    </div>
</header>
<div class="aui-content">
    <div class="aui-card-list">
        <div class="aui-card-list-header">
            按内容类型
            <small class="aui-iconfont">1325题</small>
        </div>
        <div class="aui-card-list-content aui-border-t aui-padded-l-15 aui-padded-b-15 aui-padded-t-15">
            <div class="aui-btn aui-btn-outlined">文字题</div>
            <div class="aui-btn aui-btn-outlined">图片题</div>
        </div>
    </div>
    <div class="aui-card-list">
        <div class="aui-card-list-header">
            按答案类型
            <small class="aui-iconfont">591题</small>
        </div>
        <div class="aui-card-list-content aui-border-t aui-padded-l-15 aui-padded-b-15 aui-paddlxed-t-15">
            <div class="aui-btn aui-btn-outlined">正确题</div>
            <div class="aui-btn aui-btn-outlined">错误题</div>
        </div>
    </div>
    <div class="aui-card-list">
        <div class="aui-card-list-header">
            按试题类型
            <small class="aui-iconfont">1325题</small>
        </div>
        <div class="aui-card-list-content aui-border-t aui-padded-l-15 aui-padded-b-15 aui-padded-t-15">
            <div class="aui-btn aui-btn-outlined">判断题</div>
            <div class="aui-btn aui-btn-outlined">单选题</div>
        </div>
    </div>
    <div class="aui-card-list">
        <div class="aui-card-list-header">
            按知识点类型
            <small class="aui-iconfont">794题</small>
        </div>
        <div class="aui-card-list-content aui-border-t aui-padded-l-15 aui-padded-b-15 aui-padded-t-15">
            <div class="aui-btn aui-btn-outlined">时间题</div>
            <div class="aui-btn aui-btn-outlined">速度题</div>
            <div class="aui-btn aui-btn-outlined">距离题</div>
            <div class="aui-btn aui-btn-outlined">罚款题</div>
            <div class="aui-btn aui-btn-outlined">标志题</div>
            <div class="aui-btn aui-btn-outlined">手势题</div>
            <div class="aui-btn aui-btn-outlined">信号题</div>
            <div class="aui-btn aui-btn-outlined">记分题</div>
            <div class="aui-btn aui-btn-outlined">酒驾题</div>
            <div class="aui-btn aui-btn-outlined">标线题</div>
            <div class="aui-btn aui-btn-outlined">灯光题</div>
            <div class="aui-btn aui-btn-outlined">装置题</div>
            <div class="aui-btn aui-btn-outlined">路况题</div>
            <div class="aui-btn aui-btn-outlined">仪表题</div>
        </div>
    </div>
</div>
</body>
</html>
